<form id="{{{FORM}}}" method='POST' action="" autocomplete="off">
  <div class="row">   
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label" for="nombre">Nombre de la Denominación <span class="required">*</span></label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{{NOMBRE}}}">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 text-right">
      <button type="submit" class="btn btn-primary" data-placement="left" name="boton_denom_funcion" value="{{{OPERACION}}}" id='boton_denom_funcion' title="Guardar">{{{BOTON}}}</button>
      <a href="{{{CANCELAR}}}" class="btn btn-default" >CANCELAR</a>
    </div>
  </div>
</form>