<form id="{{{FORM}}}" method='POST' action="" enctype="multipart/form-data" >
    <div class="row">
        <div class="col-md-10 col-md-offset-1 alert alert-info">
            <p class="h4">Datos de Situacion escalafonaria actual: </p>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <span class="control-label">Cuit: <strong>{{{CUIT}}}</strong></label>
                </div>
                <div class="col-md-9">
                    <span class="control-label">Nombre Apellido: <strong>{{{NOMBRE}}} {{{APELLIDO}}}</strong></label></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span class="control-label">Tramo: <strong>{{{TRAMO}}}</strong></label>
                </div>
                <div class="col-md-3">
                    <span class="control-label">Nivel: <strong>{{{NIVEL}}}</strong></label>
                </div>
                <div class="col-md-2">
                    <span class="control-label">Grado: <strong>{{{GRADO}}}</strong></label>
                </div>
                <div class="col-md-4 text-right">
                    <span class="control-label">Fecha Ultima Promoción: <strong>{{{FECHA_ULTIMA_PROMOCION}}}</strong></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span class="control-label" data-toggle="tooltip" data-placement="top" title="Representa el total de créditos disponibles hasta el mayor año evaluado dentro de este grupo." data-original-title="Representa el total de créditos disponibles hasta el mayor año evaluado dentro de este grupo."><i class="fa fa-info"></i>&nbsp;Creditos Disponibles: <strong>{{{CREDITOS_DISPONIBLES}}}</strong></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 alert alert-info">
            <p class="h4">Datos de Simulacion: <span class="label {{{CLASS_TEXTO_APLICA}}}">{{{TEXTO_APLICA}}}</span></p>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <span class="control-label">Motivo: <strong>{{{MOTIVO}}}</strong></label></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span class="control-label">Periodo Evaluado: <strong>{{{EVALUACION_INICIO}}} - {{{EVALUACION_FIN}}}</strong></label>
                </div>
                <div class="col-md-4">
                    <span class="control-label">Nuevo Grado a promocionar: <strong>{{{GRADO_PROMOCIONAR}}}</strong></label></label>
                </div>
            </div>
            <hr />
            <p><strong>Recuento de Créditos:</strong></p>
            <div class="row">
                <div class="col-md-3">
                    <span class="control-label" data-toggle="tooltip" data-placement="top" title="Total de créditos requeridos según Tramos y Niveles." data-original-title="Total de créditos requeridos según Tramos y Niveles."><i class="fa fa-info"></i>&nbsp;Requeridos: <strong>{{{REQUERIDOS}}}</strong></label>
                </div>
                <div class="col-md-2">
                    <span class="control-label" data-toggle="tooltip" data-placement="top" title="Créditos reconocidos en función del porcentaje obtenido por la aprobación/cursada de carrera finalizada/en curso." data-original-title="Créditos reconocidos en función del porcentaje obtenido por la aprobación/cursada de carrera finalizada/en curso."><i class="fa fa-info"></i>&nbsp;Reconocidos: <strong>{{{RECONOCIDOS}}}</strong></label>
                </div>
                <div class="col-md-2">
                    <span class="control-label" data-toggle="tooltip" data-placement="top" title="Total de créditos obtenidos dentro del período evaluado." data-original-title="Total de créditos obtenidos dentro del período."><i class="fa fa-info"></i>&nbsp;Total del Periodo: <strong>{{{TOTAL_PERIODO}}}</strong></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span class="control-label" data-toggle="tooltip" data-placement="top" title="Total de créditos hasta la fecha, restando el 50% de los créditos obtenidos dentro del período evaluado." data-original-title="Total de créditos hasta la fecha, restando el 50% de los créditos obtenidos dentro del período evaluado."><i class="fa fa-info"></i>&nbsp;Utilizables: <strong>{{{UTILIZABLES}}}</strong></label>
                </div>
                <div class="col-md-2">
                    <span class="control-label" data-toggle="tooltip" data-placement="top" title="Créditos descontados en caso de aplicar la promoción. Es el total de los requeridos, menos los reconocidos." data-original-title="Créditos descontados en caso de aplicar la promoción. Es el total de los requeridos, menos los reconocidos."><i class="fa fa-info"></i>&nbsp;Descontados: <strong>{{{DESCONTADOS}}}</strong></label>
                </div>
                <div class="col-md-2">
                    <span class="control-label" data-toggle="tooltip" data-placement="top" title="Créditos que debieran sobrar en caso de aplicar la promoción. Representa el total disponible hasta la fecha, quitando los descontados." data-original-title="Créditos que debieran sobrar en caso de aplicar la promoción. Representa el total disponible hasta la fecha, quitando los descontados."><i class="fa fa-info"></i>&nbsp;Sub-total: <strong>{{{SUB_TOTAL}}}</strong></label>
                </div>
            </div>
        </div>
    </div>
    {{{FORMULARIO_APLICA}}}
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <div class="form-group">
                <label class="control-label" for="acto_administrativo">Acto Administrativo<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="acto_administrativo" name="acto_administrativo" value="{{{ACTO_ADMINISTRATIVO}}}">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="numero_expediente">Numero de Expediente<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="numero_expediente" name="numero_expediente" value="{{{NUMERO_EXPEDIENTE}}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-3">
            <div class="form-group">
                <label for="fecha_promocion" class="control-label"> Fecha Promoción<span class="text-danger">*</span></label>
                <div class='input-group date'>
                    <input type='text' class="form-control fecha " id="fecha_promocion" name="fecha_promocion" value="{{{FECHA_PROMOCION}}}">
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 form-group add-file">
            <label class="control-label">Adjuntar Archivo</label>
            <input type="file" accept=".pdf"  name="archivo" id="archivo" data-show-preview="false" class="filestyle">
        </div>
    </div>
    {{{/FORMULARIO_APLICA}}}
    <br>
    <div class="row">
        <div class="col-md-11 col-offset-md-1 text-right">
            {{{BOTON_FORMULARIO_APLICA}}}
            <button type="submit" class="btn btn-primary" data-placement="left" name="boton_promocion_grados" value="{{{OPERACION}}}" id='boton_promocion_grados' title="Guardar">GUARDAR</button>
            {{{/BOTON_FORMULARIO_APLICA}}}
            <a href="{{{CANCELAR}}}" class="btn btn-default" >CANCELAR</a>
        </div>
    </div>
</form>