{{{DATOS_EMPLEADO}}}
<form action="{{{FORM_ADJUNTAR}}}" method="post" id="form_documentos_ver">
	<div class="row subtitulo margin_btm">
		<div class="col-xs-3 text-left"><h6 class="dom"><i class="fa fa-file-pdf-o"></i>  Documentación</h6></div>
		<div class="col-xs-9 text-right">
			<input type="hidden" name="id_bloque" id="bloque_documentos_ver" value="">
			<div class="btn-group botonera">
				<button id="btn_documentos_ver" class="btn btn-info">
					<i class="fa fa-eye" aria-hidden="true"></i> Ver
				</button>
			</div>
		</div>
	</div>
</form>
{{{/DATOS_EMPLEADO}}}