<div class="row">
		<div class ="col-md-12 text-left subtitulo" ><h6>Detalle Informe "PERSONAL POR UNIDAD"</h6></div>
	<div class="col-md-12">
		<table id = "perso_uni" class ="table table-striped dataTables"></table>
	</div>
</div>
<div>
	<div class="col-md-12 text-right">
		<a id="volver" class="btn btn-default" style="padding:5px;" href="{{{LINK}}}">VOLVER</a>
	</div>
</div>
<br>
	<div class="row">
		<div class="col-md-12 text-left subtitulo"><h6>Detalle Informe "PERSONAL POR VINCULACIÓN"</h6></div>
		<div class="col-md-12">
			<table id="vinculacion" class ="table table-striped dataTables"></table>
		</div>
	</div>
<div>
	<div class="col-md-12 text-right">
		<a id="volver" class="btn btn-default" style="padding:5px;" href="{{{LINK}}}">VOLVER</a>
	</div>
</div>
<br>
	<div class="row">
		<div class ="col-md-12 text-left subtitulo"><h6>Detalle Informe "PERSONAL POR FORMACIÓN"</h6></div>
		<div class="col-md-12">
			<table id="formacion" class ="table table-striped dataTables"></table>
		</div>
	</div>
<div>
	<div class="col-md-12 text-right">
	<a id="volver" class="btn btn-default" style="padding:5px;" href="{{{LINK}}}">VOLVER</a> 	
	</div>
</div>