<form id="{{{FORM}}}" method='POST' action="">
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-warning fade in alert-dismissable">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          Esta funcionalidad permite la busqueda directa de un <strong>CUIT</strong> sin necesidad de encontrarlo en una lista.<br>
          <i class="fa fa-circle" aria-hidden="true"></i>
          Los agentes que no tengan modalidad de vinculación, y no aparezcan en la lista de agentes, pondrán buscarse desde aquí.
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="control-label" for="cuit">Cuit <span class="text-danger"> * </span></label>
      <input type="number" class="form-control" id="cuit" name="cuit" value="{{{CUIT}}}">
    </div>
  </div>
</div>
<br>
 <div class="row">
 	<div class="col-md-4"></div>
    <div class="col-md-4 text-right">
        <button type="submit" class="btn btn-primary" data-placement="left" name="boton_buscar_cuit" value="buscar_cuit" id='buscar_cuit' title="Buscar">BUSCAR</button>
      <a href="{{{CANCELAR}}}" class="btn btn-default" >CANCELAR</a>
    </div>
 </div>
</form>