<div class="row"  id="url-base" data_url='{{{URL_BASE}}}'>
	<div class="col-xs-12">
    <a role="button" data-toggle="collapse" href="#collapseFiltros" aria-expanded="false" aria-controls="collapseFiltros"
      style="display: block;">
      <span class="">
        <i class="fa fa-filter"></i> Filtros
        <i class="fa fa-caret-right fa-fw" id="collapseFiltros_caret"></i>
      </span>
    </a>
    <br>
    <div class="collapse" id="collapseFiltros">
      <div class="">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="periodo" class="control-label">Periodo:</label>
              <select  id="periodo" class="form-control" name="periodo[]" multiple>
                <option value="">Seleccione</option>
                {{{PERIODO}}}
                <option value="{{{VALUE}}}" {{{SELECTED}}}{{{BORRADO}}}>{{{TEXT}}}</option>
                {{{/PERIODO}}}
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="tipo_dj" class="control-label">Tipo de Declaración Jurada:</label>
              <select name="tipo_dj[]" id="tipo_dj" class="form-control" multiple>
                <option value="">Seleccione</option>
                {{{TIPO_DJ}}}
                <option value="{{{VALUE}}}" {{{SELECTED}}}{{{BORRADO}}}>{{{TEXT}}}</option>
                {{{/TIPO_DJ}}}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<table id="histo_anticorrupcion" class="table table-striped dataTables" width="100%"></table>
	</div>
</div>
<div class="row">
	<div class="col-md-12 exportador">
	  <button class="btn btn-default accion_exportador" value="{{{BOTON_EXCEL}}}"><span class="fa fa-fw fa-file-excel-o"></span>EXCEL</button>
	  <button class="btn btn-default accion_exportador" value="{{{BOTON_PDF}}}"><span class="fa fa-fw fa-file-pdf-o"></span>PDF</button>
	</div>
</div>