<div class='row'>
	<div class='col-xs-12 text-right'>
		<div id='div_agente'>
			<i class='fa fa-puzzle-piece' aria-hidden='true'></i> 
			Agente: <strong>{{{AGENTE}}}</strong> | Cuit:<strong>{{{CUIT}}}</strong>
		</div>
	</div>
</div>
<div class="row subtitulo">
    <div class="col-xs-12 text-left"><h6 class="dom"><i class="fa fa-clock-o"></i>  Horas Extras</h6></div>
</div>
</br>
<div class="row">
  <div class="col-xs-12">
  {{{DATOS_TABLA}}}
  </div>
   <div  class="col-md-12 text-right">
     <a href="//" class="volver_legajo btn btn-default" data-ref="{{{VOLVER}}}" data-bloque="{{{BLOQUE}}}">VOLVER</a>
</div>
</div>