<div class="row subtitulo">
    <div class="col-xs-12 text-left"><h6 class="dom"><i class="fa fa-cubes"></i>  Escalafon</h6></div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="" class="control-label">Modalidad de Vinculación</label>
      <span class="form-control" disabled>{{{MODALIDAD_VINCULACION}}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="" class="control-label">Situación de Revista</label>
      <span class="form-control" disabled>{{{SITUACION_REVISTA}}}</span>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label for="" class="control-label">Función o Nivel</label>
      <span class="form-control" disabled>{{{NIVEL}}}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="" class="control-label">Grado</label>
      <span class="form-control" disabled>{{{GRADO}}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="" class="control-label">Compensación Transitoria</label>
      <span class="form-control" disabled>{{{COMPENSACION_TRANSITORIA}}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="" class="control-label">Compensación por Zona Geográfica</label>
      <span class="form-control" disabled>{{{COMPENSACION_GEOGRAFICA}}}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="" class="control-label">Agrupamiento</label>
      <span class="form-control" disabled>{{{AGRUPAMIENTO}}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="" class="control-label">Tramo</label>
      <span class="form-control" disabled>{{{TRAMO}}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="" class="control-label">Función Ejecutiva</label>
      <span class="form-control" disabled>{{{FUNCION_EJECUTIVA}}}</span>
    </div>
  </div>
</div>
	<div class="row subtitulo">
		<div class="col-xs-12 text-left"><h6 class="dom"><i class="fa fa-file-text-o"></i> Articulo Nº14</h6></div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<label for="exc_art_14" class="control-label" >Excepción Artículo 14</label>
			<span class="form-control" disabled>{{{EXC_ART_14}}}</span>
		</div>
		<div class="col-md-8">
			<label for="formacion" class="control-label">Opciones Art.14</label>
			<span class="form-control" disabled>{{{FORMACION}}}</span>
		</div>
	</div>
	<br>
	<div class="row subtitulo">
		<div class="col-xs-12 text-left"><h6 class="dom"><i class="fa fa-users"></i> Datos Gremiales</h6></div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<label for="delegado_gremial" class="control-label" >Delegado Gremial</label>
			<span class="form-control" disabled>{{{DELEGADO_GREMIAL}}}</span>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label">Fecha de Vigencia de Mandato</label>
				<span class="form-control" disabled>{{{FECHA_VIGENCIA_MANDATO}}}</span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label">Sindicato</label>
				<span class="form-control" disabled>{{{ID_SINDICATO}}}</span>
			</div>
		</div>
	</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-right">
      <a href="{{{VOLVER}}}" class="btn btn-default">VOLVER</a>
    </div>
  </div>
</div>
