<div class="row subtitulo">
    <div class="col-xs-12 text-left"><h6 class="dom"><i class="fa fa-cubes"></i>  Escalafon</h6></div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="" class="control-label">Modalidad de Vinculación</label>
      <span class="form-control" disabled>{{{MODALIDAD_VINCULACION}}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="" class="control-label">Situación de Revista</label>
      <span class="form-control" disabled>{{{SITUACION_REVISTA}}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="" class="control-label">Función</label>
      <span class="form-control" disabled>{{{NIVEL}}}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="" class="control-label">Nivel</label>
      <span class="form-control" disabled>{{{GRADO}}}</span>
    </div>
  </div>
    <div class="col-md-4">
    <div class="form-group">
      <label for="" class="control-label">Unidad Retributiva</label>
      <span class="form-control" disabled>{{{UNIDAD_RETRIBUTIVA}}}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-right">
      <a href="{{{VOLVER}}}" class="btn btn-default">VOLVER</a>
    </div>
  </div>
</div>
