.typeahead > li {
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.typeahead > li > a {
	margin: 0;
	padding: .5em .7em;
	text-decoration: none;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: .8rem;
}