{{{BOTON_VOLVER}}}
<a href="{{{VOLVER}}}" id="return-to-top" class="return-to-back" style="display: block;" title="Volver"><i class="fa fa-arrow-left" title="Volver"></i></a>
{{{/BOTON_VOLVER}}}
<a href="#" id="return-to-top" class="return-to-top" style="display: block;" title="Subir"><i class="fa fa-arrow-up" title="Subir"></i></a>
	<div class="fondo">
	    <div class="container main bar">
	        <h2>Índice</h2> 
				<li><a href="#sec_introduccion"><b>INTRODUCCIÓN</b></a></li>
				<li><b>GESTIÓN</b></a></li>
					<ul>
						<li><a href="#sec_poragt"><b>POR AGENTES</b></a></li>
							<ul>
								<li><a href="#sec_datos_personales">DATOS PERSONALES</a></li>
								<li><a href="#sec_situaciones_escalafonaria">SITUACIÓN ESCALAFONARIA</a></li>
								<li><a href="#sec_ubicacion_estructura">UBICACIÓN DE ESTRUCTURA</a></li>
								<li><a href="#sec_perfiles_puestos">PEFILES DE PUESTOS</a></li>
								<li><a href="#sec_formacion">FORMACIÓN</a></li>
								<li><a href="#sec_antiguedad">ANTIGÜEDAD</a></li>
								<li><a href="#sec_administracion">ADMINISTRACIÓN</a></li>
								<li><a href="#sec_varios">VARIOS</a></li>
								<li><a href="#sec_presupuesto">PRESUPUESTO</a></li>
								<li><a href="#sec_grupo_familiar">GRUPO FAMILIAR</a></li>
								<li><a href="#sec_embargo">EMBARGO</a></li>
							</ul>
						<li><a href="#sec_porcuit"><b>POR CUIT</b></a></li>
						<li><a href="#sec_creditos_iniciales"><b>CREDITOS INICIALES</b></a></li>
					</ul>

				<li><b>ABMS</b></li>
				<ul>
						<li><a href="#sec_titulos">TITULOS</a></li>
						<li><a href="#sec_creditos_promocion">CREDITOS PARA PROMOCION</a></li>
						<li><a href="#sec_familia_p">FAMILIA DE PUESTOS</a></li>
						<li><a href="#sec_subfamilias_p">SUBFAMILIAS DE PUESTOS</a></li>
						<li><a href="#sec_puestos">PUESTOS</a></li>
				</ul>
				<li><b>INFORMES</b></li>
				<ul>
					<li><a href="#sec_auditoria">AUDITORIA</a></li>
				</ul>
				<li><b>IMPORTADOR</b></li>
				<ul>
					<li><a href="#sec_importar_cursos">IMPORTAR CURSOS</a></li>
				</ul>

				</ul>
					<li><a href="#sec_sesion"><b>CERRAR SESIÓN</b></a></li>
		<hr>
	    </div>

	    <!-- // CONTENIDO // -->
	<div class="container main">
	        <section id="sec_introduccion" class="justificado">
	            <h4>INTRODUCCIÓN</h4>
	                <p>La <strong>Dirección de Informatica y Tecnologia del Ministerio de Transporte de la Nación</strong> ha diseñado, desarrollado e implementado un <strong>sistema a pedido de la Dirección
					General de Recursos Humanos que permite Administrar todos los datos que definen al Empleado, Segmentando la Administración y actualización de los mismos</strong>, a nivel de datos según responsabilidades de cada una de las direcciones que administran los mismos (Administración, Desarrollo y Control de Gestión, Planificación y Convenios).
					</p>
			</section>

			<section class="justificado">
	            <h4>ACCESO AL SISTEMA</h4>
	            <p> Para acceder al Sistema de Gestión y Administración de RRHH, el usuario deberá ingresar a la siguiente dirección:
	            <a href="{{{URL_SITIO}}}" target="_blank">{{{SITIO}}}</a> y despues ingresar al modulo <b>SIGARHU</b>.</p>
	            <p>Para ingresar al sistema, el usuario deberá usar su usuario y contraseña de dominio, una ves ingresado los datos podra navegar segun las credenciales que posea.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Inicio.png" alt= "Login" class="box-shadow" width="100%">
	        </section>

	        <section id ="sec_poragt" class="justificado">
	        	<h3>LEGAJOS</h3>
	            <h4>POR AGENTE</h4>
	            <p>Al acceder al sistema automaticamente nos redirecciona al listado de agentes en donde figuran todos los agentes que hay actualmente hasta la fecha además podemos filtrar las busquedas por los campos <strong>DEPENDENCIAS</strong>, <strong>ESTADO</strong>, <strong>MODALIDAD DE VINCULACIÓN</strong> o <strong>SITUACIÓN DE REVISTA</strong>. <br>
	            Tambien se pueden visualizar por la cantidad de registros de <i>10</i>, <i>25</i>, <i>50</i> o hasta <i>100</i> además el sistema incorpora un buscador. <br>
	            </p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/por_agentes.png" alt= "Por Agente" class="box-shadow" width="100%">
	            <p class="prefijo"> Podemos observar que tambien figura el botón <b>EDITAR</b>. <br>
	            Para modificar los datos del agente hacemos click en el botón <strong>EDITAR</strong>, que se encuentra en la columna <b>"Acciones"</b>, y podemos modificar los datos de dicho agente.<br>
	            Al seleccionar <strong>EDITAR</strong> se pueden modificar las siguientes solapas, ya que el resto de solapas solo se puede visualizar la información.</p>
	            <ul>
	            	<li><b>SITUACIÓN ESCALAFONARIA</b></li>
	            	<li><b>PERFILES DE PUESTOS</b></li>
	            	<li><b>FORMACIÓN</b></li>
	            	<li><b>ANTIGUEDAD</b></li>
	            </ul>
	            <p>Como dato adicional tambien se puede agregar observaciones y agregar, editar y visualizar la documentación del legajo.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo03.png" alt= "Alta de Agente" class="box-shadow" width="100%">

	            <p class="prefijo">Al ingresar al exportador de datos, el sistema nos ofrece exportar los campos que necesitamos de cada solapa del legajo del agente además de aplicar filtros de <b>ESTADO</b>, <b>MODALIDAD DE VINCULACIÓN</b>, <b>SITUACIÓN DE REVISTA</b>, <b>POR DEPENDENCIA</b>, <b>POR NIVELES</b> y <b>POR DEPENDENCIAS SUBORDINADAS</b>. <br> Al seleccionar los campos que necesitamos, el sistema descargara un archivo Excel en el que visualizaremos los datos de los campos solicitados.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo04.png" alt= "Alta de Agente" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_datos_personales" class="justificado">
	       		<h5>DATOS PERSONALES</h5>
	       		<p>La sección <b>Datos Personales</b> es la primera de todo el ABM de agentes. Aqui se visualizaran los datos del agente y el usuario de este rol solo puede visualizar la información y no editarla.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo03.png" alt= "Datos Personales" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_situaciones_escalafonaria" class="justificado">
	       		<h5>SITUACIÓN ESCALAFONARIA</h5>
	       		<p>En esta sección se van a poder modificar los campos <b>AGRUPAMIENTO</b>, <b>FUNCIÓN O NIVEL</b>, <b>TRAMO</b>, <b>GRADO</b> y <b>COMPENSACIÓN TRANSITORIA</b> además de habilitar la opción <b>DELEGACIÓN GREMIAL</b> para eso hacemos click en <b>Modificar Escalafón Actual</b> y el sistema nos permitira modificar dicho campo.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/situacion_escalafonaria.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       	</section>

	       <section id ="sec_ubicacion_estructura" class="justificado">
	       		<h5>UBICACIÓN DE ESTRUCTURA</h5>
	       		<p>Actualmente esta sección es de solo lectura, por lo que no es posible modificar un dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo06.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_perfiles_puestos" class="justificado">
	       		<h5>PERFILES DE PUESTOS</h5>
	       		<p>En esta sección se pueden modificar los siguientes campos.</p>
	       		<ul>
	       			<li><b>PUESTO</b></li>
	       				<ul>
			       			<li>Familia de Puestos</li>
			       			<li>Nombre del Puesto</li>
			       			<li>Nivel de Destreza</li>
			       			<li>Puesto Supervisa</li>
			       		</ul>
			       	<li><b>ACTIVIDADES/TAREAS</b></li>
			       		<ul>
			       			<li>Nivel de Complejidad de las Tareas</li>
			       		</ul>
			       	<li><b>EVALUACIONES</b></li>
			       		<ul>
			       			<li>Cargar Evaluaciones</li>
			       		</ul>
	       		</ul>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/perfiles_puestos.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       		<h6 class="prefijo">EVALUACIONES</h6>
	       		<p>Dentro del apartado de <b>Evaluaciones</b> podremos cargar las evaluaciones del empleado seleccionando el boton <b>Nuevo</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/evaluaciones.png" alt= "Pantalla de Evaluaciones" class="box-shadow" width="100%">
	       		<p class="prefijo">Deberemos completar todos los campos obligatorios y tambien podremos adjuntar un archivos .PDF<br>Luego de <b>Guardar</b> la informacion podremos visualizarla en la pantalla de <b>Historial</b> y poder ver el <b>Comprobante</b> adjunto.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/historial_evaluaciones.png" alt= "Historial de Evaluaciones" class="box-shadow" width="100%">

	       </section>

	       <section id ="sec_formacion" class="justificado">
	       		<h5>FORMACIÓN</h5>
	       		<p>En esta sección se completa la formación academica del agente, se debe completar todos los campos de los grupos <b>TITULOS OBTENIDOS</b>, <b>OTROS ESTUDIOS REALIZADOS</b> y <b>CONOCIMIENTO ESPECIFICO DE SISTEMAS/SOFTWARE</b>. <br> Luego procedemos a Guardar para aplicar los cambios.<br>En el apartado de <b>Titulos Obtenidos</b> a cada titulo cargado se le podran asignar creditos, esto se realiza seleccionado el boton de <b>Porcentaje</b> al lado de cada titulos.<br>Tambien podremos marcar uno de los titulos como <b>Titulo Considerado</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/formacion.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       		<p class="prefijo">Seleccionando el boton de <b>Porcentaje</b> ingresaremos en la siguiente pantalla.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/creditos.png" alt= "Pantalla de Creditos" class="box-shadow" width="100%">
	       		<p class="prefijo">Seleccionando el boton <b>Nuevo</b> accederemos a la pantalla para cargar los creditos.<br>En esta misma pantalla tambien podran modificarse una vez cargados.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/carga_creditos.png" alt= "Carga de Creditos" class="box-shadow" width="100%">
	       		<p class="prefijo">Tambien dentro del apartado de <b>Formacion</b> tendremos la seccion de <b>Cursos Sistema Nacional de Capacitacion</b> en la que podremos agregar los cursos del empleado.<br>Cuando se carguen mas de 10 cursos se podran visualizar dentro de un <b>Historial</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/historial_cursos.png" alt= "Historial de Cursos" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_antiguedad" class="justificado">
	       		<h5>ANTIGÜEDAD</h5>
	       		<p>Solamente se puede modificar el campo <b>FECHA OTORGAMIENTO GRADO</b> en esta sección.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/antiguedad.png" alt= "Pantalla de Antiguedad" class="box-shadow" width="100%">	
	       </section>

	       <section id ="sec_administracion" class="justificado">
	       		<h5>ADMINISTRACIÓN</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo10.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">	
	       </section>

	       <section id ="sec_varios" class="justificado">
	       		<h5>VARIOS</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo11.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">	
	       	</section>

	       <section id ="sec_presupuesto" class="justificado">
	       		<h5>PRESUPUESTO</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo12.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">	
	       	</section>

	       <section id ="sec_grupo_familiar" class="justificado">
	       		<h5>GRUPO FAMILIAR</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo13.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">	
	       </section>

	       <section id ="sec_embargo" class="justificado">
	       		<h5>EMBARGO</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo14.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       </section>

	       <section id="sec_porcuit">
	       <h4>POR CUIT</h4>
	            <p>Al ingresar a esta sección el sistema nos ofrece un campo para ingresar el CUIT del empleado, esto sirve para buscar un empleado de manera  facil, rapida y accesible.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo15.png" alt= "Por CUIT." class="box-shadow" width="100%">
	            <p class="prefijo">Al ingresar el CUIT del agente el sistema nos redirecciona a la gestión de legajos de dicho agente donde se puede editar los datos según el rol.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo03.png" alt= "Por CUIT." class="box-shadow" width="100%">
	            <h4 id="sec_creditos_iniciales" class="prefijo">CREDITOS INICIALES</h4>
	            <p>En este apartado podremos cargar los <b>Creditos Iniciales</b> para el empleado.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/creditos_iniciales.png" alt= "Por CUIT." class="box-shadow" width="100%">
	            <p class="prefijo">Seleccionando el boton <b>Nuevo</b> podremos acceder al alta de los creditos iniciales.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/alta_creditos_iniciales.png" alt= "Por CUIT." class="box-shadow" width="100%">
	       </section>

	       <section id="sec_titulos" class="justificado">	       	
				<h3>ADMINISTRACIÓN DE RECURSOS</h3>
				<p>En esta sección se centra en el alta, baja y modificación de datos mediante distintos tipos de ABM de todas las solapas.</p>
	       		<h4>TITULOS</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>TITULOS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo16.png" alt= "Titulos." class="box-shadow" width="100%">
	       	<section>
	       		<h4>ALTA DE TITULOS</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el <b>TIPO TITULO</b>, <b>ABREVIATURA</b> y <b>NOMBRE DEL TITULO</b>. Luego hacer click en <b>GUARDAR</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo17.png" alt= "Alta de Titulos." class="box-shadow" width="100%">
	       </section>

	       <section>
	       		<h4 id="sec_creditos_promocion">CREDITOS PARA PROMOCION</h4>
	       		<p>Este ABM permite dar de alta los creditos con su correspondiente <b>Tramo</b> y <b>Nivel</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/creditos_promocion.png" alt= "Alta de Titulos." class="box-shadow" width="100%">
	       		<p class="prefijo">Para dar de alta los creditos deberemos seleccionar el boton <b>Nuevo</b> y completar todos los campos obligatorios.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/alta_creditos_promocion.png" alt= "Alta de Titulos." class="box-shadow" width="100%">
	       </section>

	       	<section id="sec_familia_p" class="justificado">
	       		<h4>FAMILIA DE PUESTOS</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>FAMILIA DE PUESTOS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo18.png" alt= "Familia Puestos." class="box-shadow" width="100%">
	       <section>
	       		<h4>ALTA DE FAMILIA DE PUESTOS</h4>
	       		<p>Para realizar un alta primero se debe hacer click el botón <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		En el alta debemos ingresar el <b>NOMBRE FAMILIA DE PUESTO</b>. Despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo19.png" alt= "Alta Familia Puestos." class="box-shadow" width="100%">
	       </section>
	   		</section>

	       <section id="sec_subfamilias_p" class="justificado">
	       	<h4>SUBFAMILIA DE PUESTOS</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>SUBFAMILIAS DE PUESTOS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo20.png" alt= "Subfamilias de Puestos." class="box-shadow" width="100%">

	       	<section>
	       		<h4>ALTA DE SUBFAMILIAS DE PUESTOS</h4>
	       		<p>Para realizar un alta primero se debe hacer click el botón <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		En el alta debemos ingresar el <b>FAMILIA DE PUESTO</b> y <b>SUBFAMILIA</b>. Despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo21.png" alt= "Alta de Subfamilias de Puestos." class="box-shadow" width="100%">
	       	</section>
	        </section>

	        <section id="sec_puestos" class="justificado">
	        	<h4>PUESTOS</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>PUESTOS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo22.png" alt= "Puestos." class="box-shadow" width="100%">
	       	<section>
	       		<h4>ALTA DE PUESTOS</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el <b>SUBFAMILIA</b> y <b>PUESTO</b> y despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/Desarrollo23.png" alt= "Alta de Puestos." class="box-shadow" width="100%">
	       	</section>
	        <section>
	        	<h3>INFORMES</h3>
	        	<h4 id="sec_auditoria">AUDITORIA</h4>
	        	<p>En este apartado podremos consultar los datos que sean necesarios de cualquier agente en especifico.<br>Todos los cambios realizados dentro del sistema a nivel de datos se veran reflejados en el apartado de <b>Auditoria</b>.</p>
	        	<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/auditoria.png" alt= "Alta de Puestos." class="box-shadow" width="100%">
	        	<p class="prefijo">Deberemos seleccionar el icono de la columna <b>Acciones</b> para poder visualizar los datos y la accion realizada para cada empleado.</p>
	        </section>
	        <section>
	        	<h3>IMPORTADOR</h3>
	        	<h4 id="sec_importar_cursos">IMPORTAR CURSOS</h4>
	        	<p>Dentro de este apartado podremos cargar los cursos que se visualizaran dentro del sistema mediante formato Excel.</p>
	        	<img src="{{{IMAGEN}}}/img/instructivo/Desarrollo/importador.png" alt= "Alta de Puestos." class="box-shadow" width="100%">
	        </section>
	        
	        <section id="sec_sesion" class="justificado">
	            <h4>CERRAR SESIÓN</h4>
	            <p>Para salir del sistema el usuario debe <b>CERRAR SESIÓN</b> en el botón que se encuentra en la esquina superior derecha.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU99.png" alt= "Cerrar Sesion." class="box-shadow" style="display: block; margin:auto;">
	        </section>
	        <p style="float: right;">Manual de Uso Versión v2.0.0</p>
	        </div>
	</div>
