{{{BOTON_VOLVER}}}
<a href="{{{VOLVER}}}" id="return-to-top" class="return-to-back" style="display: block;" title="Volver"><i class="fa fa-arrow-left" title="Volver"></i></a>
{{{/BOTON_VOLVER}}}
<a href="#" id="return-to-top" class="return-to-top" style="display: block;" title="Subir"><i class="fa fa-arrow-up" title="Subir"></i></a>
	<div class="fondo">
	    <div class="container main bar">
	        <h2>Índice</h2> 
				<li><a href="#sec_introduccion_convenios"><b>INTRODUCCIÓN</b></a></li>
				<li><b>GESTIÓN</b></a></li>
					<ul>
						<li><a href="#sec_poragt_convenios"><b>POR AGENTES</b></a></li>
							<ul>
								<li><a href="#sec_datos_personales_convenios">DATOS PERSONALES</a></li>
								<li><a href="#sec_situaciones_escalafonaria_convenios">SITUACIÓN ESCALAFONARIA</a></li>
								<li><a href="#sec_ubicacion_estructura_convenios">UBICACIÓN DE ESTRUCTURA</a></li>
								<li><a href="#sec_perfiles_puestos_convenios">PEFILES DE PUESTOS</a></li>
								<li><a href="#sec_formacion_convenios">FORMACIÓN</a></li>
								<li><a href="#sec_antiguedad_convenios">ANTIGÜEDAD</a></li>
								<li><a href="#sec_administracion_convenios">ADMINISTRACIÓN</a></li>
								<li><a href="#sec_varios_convenios">VARIOS</a></li>
								<li><a href="#sec_grupo_familiar_convenios">GRUPO FAMILIAR</a></li>
								<li><a href="#sec_documentacion">DOCUMENTACION</a></li>
							</ul>
						<li><a href="#sec_porcuit_convenios"><b>POR CUIT</b></a></li>
					</ul>
					<li><b>INFORMES</b></li>
					<ul>
						<li><a href="#sec_auditoria">AUDITORIA</a></li>
					</ul>
						<li><a href="#sec_sesion_convenios"><b>CERRAR SESIÓN</b></a></li>
		<hr>
	    </div>
	   </div>

	<!-- // CONTENIDO // -->
	<div class="container main">
	        <section id="sec_introduccion_convenios" class="justificado">
	            <h4>INTRODUCCIÓN</h4>
	                <p>La <strong>Dirección de Informatica y Tecnologia del Ministerio de Transporte de la Nación</strong> ha diseñado, desarrollado e implementado un <strong>sistema a pedido de la Dirección
					General de Recursos Humanos que permite Administrar todos los datos que definen al Empleado, Segmentando la Administración y actualización de los mismos</strong>, a nivel de datos según responsabilidades de cada una de las direcciones que administran los mismos (Administración, Desarrollo y Control de Gestión, Planificación y Convenios).
					</p>
			</section>

			<section class="justificado">
	            <h4>ACCESO AL SISTEMA</h4>
	            <p> Para acceder al Sistema de Gestión y Administración de RRHH, el usuario deberá ingresar a la siguiente dirección:
	            <a href="{{{URL_SITIO}}}" target="_blank">{{{SITIO}}}</a> y despues ingresar al modulo <b>SIGARHU</b>.</p>
	            <p>Para ingresar al sistema, el usuario deberá usar su usuario y contraseña de dominio, una ves ingresado los datos podra navegar segun las credenciales que posea.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Inicio.png" alt= "Login" class="box-shadow" width="100%">
	        </section>

	        <section id ="sec_poragt_convenios" class="justificado">
	        	<h3>LEGAJOS</h3>
	            <h4>POR AGENTE</h4>
	            <p>Al acceder al sistema automaticamente nos redirecciona al listado de agentes en donde figuran todos los agentes que hay actualmente hasta la fecha además podemos filtrar las busquedas por los campos <strong>DEPENDENCIAS</strong>, <strong>ESTADO</strong>, <strong>MODALIDAD DE VINCULACIÓN</strong> o <strong>SITUACIÓN DE REVISTA</strong>. Tambien disponemos de un exportador de datos. <br>
	            Tambien se pueden visualizar por la cantidad de registros de <i>10</i>, <i>25</i>, <i>50</i> o hasta <i>100</i> además el sistema incorpora un buscador.
	            </p>
	            <p class="prefijo"> Podemos observar que tambien figura el botón de <b>NUEVO</b> (<img src="{{{IMAGEN}}}/img/instructivo/new.png" alt= "Botón NUEVO">) y <b>EDITAR</b> (<img src="{{{IMAGEN}}}/img/instructivo/edit.png" alt= "Botón Editar"> o <img src="{{{IMAGEN}}}/img/instructivo/edit1.png" alt= "Botón Editar">). <br>
	            El botón <strong>NUEVO</strong> nos permite  dar de alta un nuevo registro con su respectiva información y el botón <strong>EDITAR</strong>, a este ultimo accedemos haciendo click en el botón que se encuentra en la columna <b>"Acciones"</b> y podemos modificar los datos de ese registro.<br> Tambien tendremos disponible un icono en el cual podremos visualizar la remuneracion del agente.
	            Para borrar los registros del sistema simplemente se debe hacer click en <strong>BORRAR</strong> (<img src="{{{IMAGEN}}}/img/instructivo/delete.png" alt= "Botón Borrar">) y confirmar nuevamente para eliminar el registro.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Convenios/listado_agentes.png" alt= "Alta de Agente" class="box-shadow" width="100%">
	            <p class="prefijo">Tambien contaremos con un apartado para visualizar la remuneracion del empleado. Se accede selecionando el boton de <b>Remuneracion</b>.</p>	                        
	            <img src="{{{IMAGEN}}}/img/instructivo/Convenios/remuneracion.png" alt="Pantalla de Remuneracion" class="box-shadow" width="100%">

	            <p class="prefijo">Al ingresar al exportador de datos, el sistema nos ofrece exportar los campos que necesitamos de cada solapa del legajo del agente además de aplicar filtros de <b>ESTADO</b>, <b>MODALIDAD DE VINCULACIÓN</b>, <b>SITUACIÓN DE REVISTA</b>, <b>POR DEPENDENCIA</b>, <b>POR NIVELES</b> y <b>POR DEPENDENCIAS SUBORDINADAS</b>. <br> Al seleccionar los campos que necesitamos, el sistema descargara un archivo Excel en el que visualizaremos los datos de los campos solicitados.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Convenios/Convenios03.png" alt= "Alta de Agente" class="box-shadow" width="100%">

	            <p class="prefijo">Algunas solapas requieren primero los <b>DATOS PERSONALES</b> completos para poder acceder, los campos con un asterico en rojo son obligatorios. Al tener todos los datos completos procedemos a hacer click en <b>GUARDAR</b> para realizar el alta o la modificación. <br>
	            Se detallara a continuación las solapas que componen el ABM de agentes.
	        	</p>
	       </section>

	       <section id ="sec_datos_personales_convenios" class="justificado">
	       		<h5>DATOS PERSONALES</h5>
	       		<p>La sección <b>Datos Personales</b> es la primera solapa a completar. Los campos que tengan un asterisco en rojo son de caracter obligatorio además de completar la información podemos agregar una observación haciendo click en la barra <b>"OBSERVACIONES"</b>, tambien disponemos de un historial donde podemos ver todas las observaciones que se generaron.
	       		<br>
	       		Ya ingresada la información hacemos click en <b>GUARDAR</b> para agregar el alta o modificación.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Convenios/Convenios05.png" alt= "Datos Personales" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_situaciones_escalafonaria_convenios" class="justificado">
	       		<h5>SITUACIÓN ESCALAFONARIA</h5>
	       		<p>En esta sección solamente se va a poder seleccionar datos de los campos <b>MODALIDAD DE VINCULACIÓN</b>, <b>SITUACIÓN DE REVISTA</b>, <b>FUNCIÓN</b>, <b>NIVEL</b> y <b>UNIDAD RETRIBUTIVA</b>. Las unidades retributivas dependeran de Escalafón del agente, como dato adicional tambien se puede agregar observaciones y visualizar la documentación del legajo.<br>
	       		Se detalla abajo la <b>Modalidad de Vinculación</b> con su respectiva <b>Situación de Revista</b>.
	       		</p>
				<li><b>Prestación de Servicios</b></li>
				<ul>
					<li>1109/17</li>
					<li>1109/17 con Financiamiento Externo</li>
					<li>Asistencia Técnica</li>
				</ul>
				<img src="{{{IMAGEN}}}/img/instructivo/Convenios/Convenios06.png" alt= "Situación ESCALAFONARIA" class="box-shadow" width="100%">
	       		
	       </section>

	       <section id ="sec_ubicacion_estructura_convenios" class="justificado">
	       		<h5>UBICACIÓN DE ESTRUCTURA</h5>
	       		<p>En esta sección se debe completar el <b>NIVEL DE ORGANIGRAMA</b>, <b>DEPENDENCIA</b> y <b>DEPENDENCIA INFORMAL</b>. Las dos primeras son de caracter obligatorio.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Convenios/Convenios07.png" alt= "Ubicacion de ESTRUCTURA" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_perfiles_puestos_convenios" class="justificado">
	       		<h5>PERFILES DE PUESTOS</h5>
	       		<p>En esta sección se debe completar los campos según lo que corresponda, esto aplica en los 3 grupos <b>PUESTO</b>, <b>ACTIVIDADES/TAREAS</b> y <b>RESULTADOS PARCIALES/FINALES</b>.<br> Ademas podremos visualizar la ultima evaluacion ingresada en el apartado de <b>EVALUACIONES</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Convenios/perfiles_puestos.png" alt= "Pantalla de Perfiles de Puestos" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_formacion_convenios" class="justificado">
	       		<h5>FORMACIÓN</h5>
	       		<p>En esta sección se debe completar los campos de los grupos <b>TITULO OBTENIDO</b>, <b>OTROS ESTUDIOS REALIZADOS</b>, <b>CONOCIMIENTO ESPECIFICO DE SISTEMA/SOFTWARE</b> y poder cargar los cursos que el agente realize en <b>CURSOS SISTEMA NACIONAL DE CAPACITACION</b>. Al completarlo procedemos a Guardar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Convenios/formacion.png" alt= "Formacion" class="box-shadow" width="100%">	       		
	       </section>

	       <section id ="sec_antiguedad_convenios" class="justificado">
	       		<h5>ANTIGÜEDAD</h5>
	       		<p>En esta solapa se puede ingresar la cantidad de <b>AÑOS</b> y <b>MESES</b> además de la <b>FECHA DE INGRESO MTR</b>, todo esto para gestionar la antigüedad.<br> Tambien podremos cargar la  <b>ANTIGUEDAD EN OTRO ORGANISMOS</b> y podremos ingresar los datos de la <b>EXPERIENCIA LABORAL</b> del empleado.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Convenios/antiguedad.png" alt= "Antiguedad" class="box-shadow" width="100%">	
	       </section>

	       <section id ="sec_administracion_convenios" class="justificado">
	       		<h5>ADMINISTRACIÓN</h5>
	       		<p>En esta solapa se ingresan los siguientes datos:</p>

	       		<ul>
	       			<li><b>CARGA HORARIA</b></li>
	       			<li><b>HORAS EXTRAS</b></li>
	       			<li><b>DATOS DE UBICACIÓN</b></li>
	       			<li><b>DATOS DE LICENCIAS ESPECIALES</b></li>
	       			<li><b>ESTADO DEL AGENTE</b></li>
	       			<li><b>AGENTE EN SITUACIÓN DE COMISIÓN</b></li>
	       		</ul>
	       		<section>
	       		<p>La <b>CARGA HORARIA</b> según la plantilla horaria que se seleccione se visualizaran automaticamente los horarios predefinidos en la Grilla Horaria, estos se pueden modificar si es necesario. <br>
	       		Además de la grilla horaria debemos seleccionar el <b>TURNO</b> del cual corresponda y tildar de manera opcional <b>FIRMA PRESENTISMO</b>.<br>
	       		Disponemos de <b>HORAS EXTRAS</b> para agregar alguna simplemente debemos tildar el botón de <b>HORAS EXTRAS</b> y hacer click a <b>NUEVO</b>, el sistema nos redireccionara a completar los campos <b>Año/Mes</b> y <b>Acto Administrativo</b>, al completarlo finalizamos haciendo click en <b>GUARDAR</b>.
	       		</section>

	       		<section>
	       		<p>En los <b>DATOS DE UBICACIÓN</b> se debe seleccionar el edificio y automaticamente completara <b>Calle/Número</b> luego se debe completar los campos <b>PISO</b> y <b>OFICINA</b> según el edificio.<br>
	       		En <b>DATOS DE LICENCIAS ESPECIALES</b> se debera ingresar el tipo de licencia y las fechas de inicio y fin en caso de tener alguna.<br>
	       		En <b>ESTADO DEL AGENTE</b>, se debe ingresar si el agente esta activo o inactivo, de ser el segundo caso tambien se debera ingresar el <b>MOTIVO DE BAJA</b> y la <b>FECHA DE BAJA</b><br>
	       		En <b>AGENTE DE SITUACIÓN DE COMISIÓN</b> se debe ingresar si tiene comisión o no, en caso de la primera opción se debe completar los campos <b>ORGANISMO DE DESTINO</b> y <b>ORGANISMO DE ORIGEN</b>.</p>
	       		</section>

	       		<p>Al tener todos los datos obligatorios completos procedemos a hacer click en <b>GUARDAR</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Convenios/Convenios11.png" alt= "Administración" class="box-shadow" width="100%">	
	       </section>

	       <section id ="sec_varios_convenios" class="justificado">
	       		<h5>VARIOS</h5>
	       		<p>En esta solapa debemos ingresar agregar los datos según sea necesario ya que estos campos se puede completar de manera opcional.</p>
	       		<ul>
	       			<li><b>POSEE CREDENCIAL DE ACCESO</b></li>
	       			<li><b>DATOS DE DISCAPACIDAD</b></li>
	       			<li><b>DATOS DE SINDICATOS</b></li>
	       			<li><b>OBRA SOCIAL Y SEGURO DE VIDA</b></li>
	       			<li><b>VETERANO DE GUERRA</b></li>
	       		</ul>

	       		<p class="prefijo" class="justificado">En <b>POSEE CREDENCIAL DE ACCESO</b>, en este apartado es solo para agregar si tiene credencial de acceso o no, en caso de tenerla se puede poner la fecha de vencimiento de manera opcional.<br>

	       		En <b>DATOS DE DISCAPACIDAD</b> en este punto se debe agregar si posee algún tipo de discapacidad además del CUD y la fecha del vencimiento de la misma. Tambien se puede agregar alguna observación.<br>

	       		En <b>DATOS DE SINDICATO</b> se debe agregar el nombre del sindicato o en caso de no figurar en la lista haciendo click en <b>Otros</b> aparecera un nuevo campo donde ingresaremos el nombre del sindicato.<br>
	       		En <b>OBRA SOCIAL Y SEGURO DE VIDA</b> se debe ingresar la obra social y un seguro de vida en caso de tenerlo.<br>
	       		Si el agente fue <b>VETERANO DE GUERRA</b> se debera tildar la opción en caso contrario.</p>
	       	<img src="{{{IMAGEN}}}/img/instructivo/Convenios/Convenios12.png" alt= "Varios" class="box-shadow" width="100%">	
	       	</section>
	       </section>

	       <section id ="sec_grupo_familiar_convenios" class="justificado">
	       		<h5>GRUPO FAMILIAR</h5>
	       		<p>En esta sección se pueden visualizar todo el grupo familiar del agente.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Convenios/Convenios13.png" alt= "Grupo Familiar" class="box-shadow" width="100%">
	       		<p class="prefijo">
	       		<h4 id="sec_documentacion">DOCUMENTACION</h4>
	       		<p>Para acceder a esta seccion deberemos selecciona el boton <b>Ver</b> dentro del legajo del agente. La opcion estara disponible en todas las solapas del legajo del empleado.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Convenios/documentacion.png" alt= "Pantalla de Documentacion" class="box-shadow" width="100%">
	       		<p class="prefijo">Para cargar un Documento deberemos seleccionar el boton <b>Nuevo</b> y seleccionar el tipo de documento y adjuntar un archivo.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Convenios/alta_documento.png" alt= "Alta de Documento" class="box-shadow" width="100%">
	       </section>

	       <section id="sec_porcuit_convenios">
	       	<h4>POR CUIT</h4>
	            <p>Al ingresar a esta sección el sistema nos ofrece un campo para ingresar el CUIT del agente, esto sirve para buscar un agente de manera  accesible, facil y rapida.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Convenios/Convenios14.png" alt= "Por CUIT." class="box-shadow" width="100%">
	            <p class="prefijo">Al ingresar el CUIT del agente el sistema nos redirecciona a la gestión de legajos de dicho agente donde se puede editar los datos según el rol.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Convenios/Convenios15.png" alt= "Por CUIT." class="box-shadow" width="100%">
	       </section>
	       <h4 id="sec_auditoria">AUDITORIA</h4>
	       		<p>En este apartado podremos consultar los datos que sean necesarios de cualquier agente en especifico.<br>Todos los cambios realizados dentro del sistema a nivel de datos se veran reflejados en el apartado de <b>Auditoria</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Convenios/auditoria.png" alt= "Pantalla de Auditoria" class="box-shadow" width="100%">
	       		<p class="prefijo">Deberemos seleccionar el icono de la columna <b>Acciones</b> para poder visualizar los datos y la accion realizada para cada empleado.</p>
	        <section id="sec_sesion_convenios" class="justificado">
	            <h4>CERRAR SESIÓN</h4>
	            <p>Para salir del sistema el usuario debe <b>CERRAR SESIÓN</b> en el botón que se encuentra en la esquina superior derecha.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU99.png" alt= "Cerrar Sesion." class="box-shadow" style="display: block; margin:auto;">
	        </section>
	        <p style="float: right;">Manual de Uso Versión v2.0.0</p>
	        </div>
	</div>