{{{BOTON_VOLVER}}}
<a href="{{{VOLVER}}}" id="return-to-top" class="return-to-back" style="display: block;" title="Volver"><i class="fa fa-arrow-left" title="Volver"></i></a>
{{{/BOTON_VOLVER}}}
<a href="#" id="return-to-top" class="return-to-top" style="display: block;" title="Subir"><i class="fa fa-arrow-up" title="Subir"></i></a>
	<div class="fondo">
	    <div class="container main bar">
	        <h2>Índice</h2> 
				<li><a href="#sec_introduccion"><b>INTRODUCCIÓN</b></a></li>
				<li><b>GESTIÓN</b></a></li>
					<ul>
						<li><a href="#sec_poragt"><b>POR AGENTES</b></a></li>
							<ul>
								<li><a href="#sec_datos_personales">DATOS PERSONALES</a></li>
								<li><a href="#sec_situaciones_escalafonaria">SITUACIÓN ESCALAFONARIA</a></li>
								<li><a href="#sec_ubicacion_estructura">UBICACIÓN DE ESTRUCTURA</a></li>
								<li><a href="#sec_perfiles_puestos">PEFILES DE PUESTOS</a></li>
								<li><a href="#sec_formacion">FORMACIÓN</a></li>
								<li><a href="#sec_antiguedad">ANTIGÜEDAD</a></li>
								<li><a href="#sec_administracion">ADMINISTRACIÓN</a></li>
								<li><a href="#sec_varios">VARIOS</a></li>
								<li><a href="#sec_presupuesto">PRESUPUESTO</a></li>
								<li><a href="#sec_grupo_familiar">GRUPO FAMILIAR</a></li>
								<li><a href="#sec_embargo">EMBARGO</a></li>
							</ul>
						<li><a href="#sec_porcuit"><b>POR CUIT</b></a></li>
					</ul>

				<li><b>ABMS</b></li>
				<ul>
						<li><a href="#sec_presupuestos">PRESUPUESTOS</a></li>
						<li><a href="#sec_codigo_saf">CÓDIGO SAF</a></li>
						<li><a href="#sec_codigo_j">CÓDIGOS JURISDICCIONES</a></li>
						<li><a href="#sec_codigo_ubi">CÓDIGOS UBICACIONES GEOGRAFICAS</a></li>
						<li><a href="#sec_codigo_p">CÓDIGOS PROGRAMAS</a></li>
						<li><a href="#sec_codigo_subp">CÓDIGOS SUBPROGRAMAS</a></li>
						<li><a href="#sec_codigo_proy">CÓDIGOS PROYECTOS</a></li>
						<li><a href="#sec_codigo_act">CÓDIGOS ACTIVIDADES</a></li>
						<li><a href="#sec_codigo_obras">CÓDIGOS OBRAS</a></li>
				</ul>

				</ul>
					<li><a href="#sec_sesion"><b>CERRAR SESIÓN</b></a></li>
		<hr>
	    </div>

	    <!-- // CONTENIDO // -->
	<div class="container main">
	        <section id="sec_introduccion" class="justificado">
	            <h4>INTRODUCCIÓN</h4>
	                <p>La <strong>Dirección de Informatica y Tecnologia del Ministerio de Transporte de la Nación</strong> ha diseñado, desarrollado e implementado un <strong>sistema a pedido de la Dirección
					General de Recursos Humanos que permite Administrar todos los datos que definen al Empleado, Segmentando la Administración y actualización de los mismos</strong>, a nivel de datos según responsabilidades de cada una de las direcciones que administran los mismos (Administración, Desarrollo y Control de Gestión, Planificación y Convenios).
					</p>
			</section>

			<section class="justificado">
	            <h4>ACCESO AL SISTEMA</h4>
	            <p> Para acceder al Sistema de Gestión y Administración de RRHH, el usuario deberá ingresar a la siguiente dirección:
	            <a href="{{{URL_SITIO}}}" target="_blank">{{{SITIO}}}</a> y despues ingresar al modulo <b>SIGARHU</b>.</p>
	            <p>Para ingresar al sistema, el usuario deberá usar su usuario y contraseña de dominio, una ves ingresado los datos podra navegar segun las credenciales que posea.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Inicio.png" alt= "Login" class="box-shadow" width="100%">
	        </section>

	        <section id ="sec_poragt" class="justificado">
	        	<h3>LEGAJOS</h3>
	            <h4>POR AGENTE</h4>
	            <p>Al acceder al sistema automaticamente nos redirecciona al listado de agentes en donde figuran todos los agentes que hay actualmente hasta la fecha además podemos filtrar las busquedas por los campos <strong>DEPENDENCIAS</strong>, <strong>ESTADO</strong>, <strong>MODALIDAD DE VINCULACIÓN</strong> o <strong>SITUACIÓN DE REVISTA</strong>. <br>
	            Tambien se pueden visualizar por la cantidad de registros de <i>10</i>, <i>25</i>, <i>50</i> o hasta <i>100</i> además el sistema incorpora un buscador. <br>
	            </p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion01.png" alt= "Por Agente" class="box-shadow" width="100%">
	            <p class="prefijo"> Podemos observar que tambien figura el botón <b>EDITAR</b>. <br>
	            Para modificar los datos del agente hacemos click en el botón <strong>EDITAR</strong>, que se encuentra en la columna <b>"Acciones"</b>, y podemos modificar los datos de dicho agente.<br>
	            Al seleccionar <strong>EDITAR</strong> se pueden modificar las siguientes solapas, ya que el resto de solapas solo se puede visualizar la información.</p>
	            <ul>
	            	<li><b>PRESUPUESTO</b></li>
	            </ul>
	            <p>Como dato adicional tambien se puede agregar observaciones y agregar, editar y visualizar la documentación del legajo.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion02.png" alt= "Alta de Agente" class="box-shadow" width="100%">

	            <p class="prefijo">Al ingresar al exportador de datos, el sistema nos ofrece exportar los campos que necesitamos de cada solapa del legajo del agente además de aplicar filtros de <b>ESTADO</b>, <b>MODALIDAD DE VINCULACIÓN</b>, <b>SITUACIÓN DE REVISTA</b>, <b>POR DEPENDENCIA</b>, <b>POR NIVELES</b> y <b>POR DEPENDENCIAS SUBORDINADAS</b>. <br> Al seleccionar los campos que necesitamos, el sistema descargara un archivo Excel en el que visualizaremos los datos de los campos solicitados.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion03.png" alt= "Alta de Agente" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_datos_personales" class="justificado">
	       		<h5>DATOS PERSONALES</h5>
	       		<p>La sección <b>Datos Personales</b> es la primera de todo el ABM de agentes. Aqui se visualizaran los datos del agente y el usuario de este rol solo puede visualizar la información y no editarla.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion02.png" alt= "Datos Personales" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_situaciones_escalafonaria" class="justificado">
	       		<h5>SITUACIÓN ESCALAFONARIA</h5>
	       		<p>Actualmente esta sección es de solo lectura, por lo que no es posible modificar un dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/situacion_escalafonaria.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       	</section>

	       <section id ="sec_ubicacion_estructura" class="justificado">
	       		<h5>UBICACIÓN DE ESTRUCTURA</h5>
	       		<p>Actualmente esta sección es de solo lectura, por lo que no es posible modificar un dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion05.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_perfiles_puestos" class="justificado">
	       		<h5>PERFILES DE PUESTOS</h5>
	       		<p>Actualmente esta sección es de solo lectura, por lo que no es posible modificar un dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/perfiles_puestos.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_formacion" class="justificado">
	       		<h5>FORMACIÓN</h5>
	       		<p>Actualmente esta sección es de solo lectura, por lo que no es posible modificar un dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/formacion.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_antiguedad" class="justificado">
	       		<h5>ANTIGÜEDAD</h5>
	       		<p>Actualmente esta sección es de solo lectura, por lo que no es posible modificar un dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/antiguedad.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">	
	       </section>

	       <section id ="sec_administracion" class="justificado">
	       		<h5>ADMINISTRACIÓN</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion09.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">	
	       </section>

	       <section id ="sec_varios" class="justificado">
	       		<h5>VARIOS</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion10.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">	
	       	</section>

	       <section id ="sec_presupuesto" class="justificado">
	       		<h5>PRESUPUESTO</h5>
	       		<p>En esta sección se puede editar todos los campos.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion11.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">	
	       	</section>

	       <section id ="sec_grupo_familiar" class="justificado">
	       		<h5>GRUPO FAMILIAR</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion12.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">	
	       </section>

	       <section id ="sec_embargo" class="justificado">
	       		<h5>EMBARGO</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion13.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       </section>

	       <section id="sec_porcuit">
	       <h4>POR CUIT</h4>
	            <p>Al ingresar a esta sección el sistema nos ofrece un campo para ingresar el CUIT del empleado, esto sirve para buscar un empleado de manera  facil, rapida y accesible.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion14.png" alt= "Por CUIT." class="box-shadow" width="100%">
	            <p class="prefijo">Al ingresar el CUIT del agente el sistema nos redirecciona a la gestión de legajos de dicho agente donde se puede editar los datos según el rol.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion02.png" alt= "Por CUIT." class="box-shadow" width="100%">
	       </section>

	       <section id="sec_presupuestos" class="justificado">	       	
				<h3>ADMINISTRACIÓN DE RECURSOS</h3>
				<p>En esta sección se centra en el alta, baja y modificación de datos mediante distintos tipos de ABM de todas las solapas.</p>
	       		<h4>PRESUPUESTOS</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>PRESUPUESTOS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion15.png" alt= "Presupuestos." class="box-shadow" width="100%">
	       	<section>
	       		<h4>ALTA DE PRESUPUESTOS</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos completar todos los campos que necesitemos. Luego hacer click en <b>GUARDAR</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion16.png" alt= "Alta de Presupuestos." class="box-shadow" width="100%">
	       </section>
	       <section>

	       	<section id="sec_codigo_saf" class="justificado">
	       		<h4>CÓDIGO SAF</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>CÓDIGO SAF</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion17.png" alt= "Codigo Saf." class="box-shadow" width="100%">
	       <section>
	       		<h4>ALTA DE CÓDIGO SAF</h4>
	       		<p>Para realizar un alta primero se debe hacer click el botón <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		En el alta debemos ingresar el <b>CÓDIGO</b> y <b>SAF</b>. Despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion18.png" alt= " Alta Codigo Saf." class="box-shadow" width="100%">
	       </section>
	   		</section>

	       <section id="sec_codigo_j" class="justificado">
	       	<h4>CÓDIGO JURISDICCIONES</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>CÓDIGO JURISDICCIONES</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion19.png" alt= "Codigo Jurisdicciones." class="box-shadow" width="100%">

	       	<section>
	       		<h4>ALTA DE CÓDIGO DE JURISDICCIONES</h4>
	       		<p>Para realizar un alta primero se debe hacer click el botón <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		En el alta debemos ingresar el <b>CÓDIGO</b> y <b>JURISDICCIÓN</b>. Despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion20.png" alt= "Alta de Codigo Jurisdicciones." class="box-shadow" width="100%">
	       	</section>
	        </section>

	        <section id="sec_codigo_ubi" class="justificado">
	        	<h4>CÓDIGOS UBICACIONES GEOGRAFICAS</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>CÓDIGOS UBICACIONES GEOGRAFICAS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion21.png" alt= "Codigo Ubicaciones Geografica." class="box-shadow" width="100%">
	       	<section>
	       		<h4>ALTA DE CÓDIGO UBICACIONES GEOGRAFICAS</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el <b>CÓDIGO</b> y <b>UBICACIÓN GEOGRAFICA</b> y despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion22.png" alt= "Alta Codigo Ubicaciones Geografica." class="box-shadow" width="100%">
	       	</section>
	        </section>
	        
	        <section id="sec_codigo_p" class="justificado">
	        	<h4>CÓDIGO PROGRAMAS</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>CÓDIGO PROGRAMAS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion23.png" alt= "Codigo Programas." class="box-shadow" width="100%">
	       	<section>
	       		<h4>ALTA DE CÓDIGO PROGRAMAS</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el <b>CÓDIGO</b> y <b>PROGRAMA</b> y despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion24.png" alt= "Alta Codigo Programas." class="box-shadow" width="100%">
	       	</section>
	        </section>

	        <section id="sec_codigo_subp" class="justificado">
	        	<h4>CÓDIGOS SUBPROGRAMAS</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>CÓDIGO SUBPROGRAMAS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion25.png" alt= "Codigo Subprogramas." class="box-shadow" width="100%">
	       	<section>
	       		<h4>ALTA DE CÓDIGO SUBPROGRAMAS</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el <b>PROGRAMA</b>, <b>CÓDIGO</b> y <b>SUBPROGRAMA</b>. Despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion26.png" alt= "Alta Codigo Subprogramas." class="box-shadow" width="100%">
	       	</section>
	        </section>

	        <section id="sec_codigo_proy" class="justificado">
	        	<h4>CÓDIGO PROYECTO</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>CÓDIGO PROYECTO</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion27.png" alt= "Codigo Proyecto." class="box-shadow" width="100%">
	       	<section>
	       		<h4>ALTA DE CÓDIGO PROYECTO</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el <b>PROGRAMA</b>, <b>SUBPROGRAMA</b>, <b>CÓDIGO</b> y <b>PROYECTO</b> y despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion28.png" alt= "Alta Codigo Proyecto." class="box-shadow" width="100%">
	       	</section>
	        </section>

	        <section id="sec_codigo_act" class="justificado">
	        	<h4>CÓDIGO ACTIVIDADES</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>CÓDIGO ACTIVIDADES</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion29.png" alt= "Codigo Actividades." class="box-shadow" width="100%">
	       	<section>
	       		<h4>ALTA DE CÓDIGO ACTIVIDADES</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el <b>CÓDIGO</b> y <b>NOMBRE ACTIVIDAD</b> y despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion30.png" alt= "Alta Codigo Actividades." class="box-shadow" width="100%">
	       	</section>
	        </section>

	        <section id="sec_codigo_obras" class="justificado">
	        	<h4>CÓDIGO OBRAS</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>CÓDIGO OBRAS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion31.png" alt= "Codigo Obras." class="box-shadow" width="100%">
	       	<section>
	       		<h4>ALTA DE CÓDIGO OBRAS</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el <b>PROYECTO</b>, <b>CÓDIGO</b> y <b>OBRA</b>. Despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Liquidacion/Liquidacion32.png" alt= "Alta Codigo Obras." class="box-shadow" width="100%">
	       	</section>
	        </section>

	        <section id="sec_sesion" class="justificado">
	            <h4>CERRAR SESIÓN</h4>
	            <p>Para salir del sistema el usuario debe <b>CERRAR SESIÓN</b> en el botón que se encuentra en la esquina superior derecha.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU99.png" alt= "Cerrar Sesion." class="box-shadow" style="display: block; margin:auto;">
	        </section>
	        <p style="float: right;">Manual de Uso Versión v2.0.0</p>
	        </div>
	</div>
