{{{BOTON_VOLVER}}}
<a href="{{{VOLVER}}}" id="return-to-top" class="return-to-back" style="display: block;" title="Volver"><i class="fa fa-arrow-left" title="Volver"></i></a>
{{{/BOTON_VOLVER}}}
<a href="#" class="return-to-top" id="return-to-top" style="display: block;" title="Subir"><i class="fa fa-arrow-up" title="Subir"></i></a>
	<div class="fondo">
	    <div class="container main bar">
	        <h2>Índice</h2> 
				<li><a href="#sec_introduccion"><b>INTRODUCCIÓN</b></a></li>
				<li><b>GESTIÓN</b></li>
					<ul>
						<li><a href="#sec_poragt"><b>POR AGENTES</b></a></li>
							<ul>
								<li><a href="#sec_datos_personales">DATOS PERSONALES</a></li>
								<li><a href="#sec_situaciones_escalafonaria">SITUACIÓN ESCALAFONARIA</a></li>
								<li><a href="#sec_ubicacion_estructura">UBICACIÓN DE ESTRUCTURA</a></li>
								<li><a href="#sec_perfiles_puestos">PEFILES DE PUESTOS</a></li>
								<li><a href="#sec_formacion">FORMACIÓN</a></li>
								<li><a href="#sec_antiguedad">ANTIGÜEDAD</a></li>
								<li><a href="#sec_administracion">ADMINISTRACIÓN</a></li>
								<li><a href="#sec_varios">VARIOS</a></li>
								<li><a href="#sec_presupuesto">PRESUPUESTO</a></li>
								<li><a href="#sec_grupo_familiar">GRUPO FAMILIAR</a></li>
								<li><a href="#sec_embargo">EMBARGO</a></li>
								<li><a href="#sec_documentacion">DOCUMENTACION</a></li>
							</ul>
						<li><a href="#sec_porcuit"><b>POR CUIT</b></a></li>
					</ul>

				<li><b>ABMS</b></li>
					<ul>
						<li><a href="#sec_modalidad_vinculacion">MODALIDAD DE VINCULACIÓN</a></li>
						<li><a href="#sec_situacion_revista">SITUACIÓN DE REVISTA</a></li>
						<li><a href="#sec_agrupamientos">AGRUPAMIENTOS</a></li>
						<li><a href="#sec_tramos">TRAMOS</a></li>
						<li><a href="#sec_niveles">NIVELES</a></li>
						<li><a href="#sec_grados">GRADOS</a></li>
						<li><a href="#sec_funciones_ejecutivas">FUNCIONES EJECUTIVAS</a></li>
						<li><a href="#sec_edificios">EDIFICIOS</a></li>
						<li><a href="#sec_ubicaciones">UBICACIONES</a></li>
						<li><a href="#sec_otros_organismos">OTROS ORGANISMOS</a></li>
						<li><a href="#sec_denominacion_funcion">DENOMINACIÓN FUNCIÓN</a></li>
						<li><a href="#sec_organismos_origen_destino">ORGANISMOS ORIGEN/DESTINO</a></li>
						<li><a href="#sec_motivos_baja">MOTIVOS DE BAJA</a></li>
						<li><a href="#sec_nivel_educativo">NIVEL EDUCATIVO</a></li>
						<li><a href="#sec_licencias_especiales">LICENCIAS ESPECIALES</a></li>
						<li><a href="#sec_tipo_discapacidad">TIPO DISCAPACIDAD</a></li>
						<li><a href="#sec_sindicatos">SINDICATOS</a></li>
						<li><a href="#sec_obra_social">OBRA SOCIAL</a></li>
						<li><a href="#sec_seguros_vida">SEGURO DE VIDA</a></li>
						<li><a href="#sec_plantilla_horario">PLANTILLA HORARIO</a></li>
					</ul>
				<li><b>INFORMES</b></li>
					<ul>
						<li><a href="#sec_auditoria">AUDITORIA</a></li>
					</ul>
				<li><a href="#sec_sesion"><b>CERRAR SESIÓN</b></a></li>
		<hr>
	    </div>

	    <!-- // CONTENIDO // -->
	<div class="container main">
	        <section id="sec_introduccion" class="justificado">
	            <h4>INTRODUCCIÓN</h4>
	                <p>La <strong>Dirección de Informatica y Tecnologia del Ministerio de Transporte de la Nación</strong> ha diseñado, desarrollado e implementado un <strong>sistema a pedido de la Dirección
					General de Recursos Humanos que permite Administrar todos los datos que definen al Empleado, Segmentando la Administración y actualización de los mismos</strong>, a nivel de datos según responsabilidades de cada una de las direcciones que administran los mismos (Administración, Desarrollo y Control de Gestión, Planificación y Convenios).
					</p>
			</section>

			<section class="justificado">
	            <h4>ACCESO AL SISTEMA</h4>
	            <p> Para acceder al Sistema de Gestión y Administración de RRHH, el usuario deberá ingresar a la siguiente dirección:
	            <a href="{{{URL_SITIO}}}" target="_blank">{{{SITIO}}}</a> y despues ingresar al modulo <b>SIGARHU</b>.</p>
	            <p>Para ingresar al sistema, el usuario deberá usar su usuario y contraseña de dominio, una ves ingresado los datos podra navegar segun las credenciales que posea.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Inicio.png" alt= "Login" class="box-shadow" width="100%">
	        </section>

	        <section id ="sec_poragt" class="justificado">
	        	<h3>LEGAJOS</h3>
	            <h4>POR AGENTE</h4>
	            <p>Al acceder al sistema automaticamente nos redirecciona al listado de agentes en donde figuran todos los agentes que hay actualmente hasta la fecha además podemos filtrar las busquedas por los campos <strong>DEPENDENCIAS</strong>, <strong>ESTADO</strong>, <strong>MODALIDAD DE VINCULACIÓN</strong> o <strong>SITUACIÓN DE REVISTA</strong>. <br>
	            Tambien se pueden visualizar por la cantidad de registros de <i>10</i>, <i>25</i>, <i>50</i> o hasta <i>100</i> además el sistema incorpora un buscador.
	            </p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU02.png" alt= "Por Agente" class="box-shadow" width="100%">
	            <p class="prefijo"> Podemos observar que tambien figura el botón de <b>NUEVO</b> (<img src="{{{IMAGEN}}}/img/instructivo/new.png" alt= "Botón NUEVO">) y <b>EDITAR</b> (<img src="{{{IMAGEN}}}/img/instructivo/edit.png" alt= "Botón Editar"> o <img src="{{{IMAGEN}}}/img/instructivo/edit1.png" alt= "Botón Editar">). <br>
	            El botón <strong>NUEVO</strong> nos permite  dar de alta un nuevo registro con su respectiva información y el botón <strong>EDITAR</strong>, a este ultimo accedemos haciendo click en el botón que se encuentra en la columna <b>"Acciones"</b> y podemos modificar los datos de ese registro.<br>
	            Para borrar los registros del sistema simplemente se debe hacer click en <strong>BORRAR</strong> (<img src="{{{IMAGEN}}}/img/instructivo/delete.png" alt= "Botón Borrar">) y confirmar nuevamente para eliminar el registro.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU03.png" alt= "Alta de Agente" class="box-shadow" width="100%">

	            <p class="prefijo">Al ingresar al exportador de datos, el sistema nos ofrece exportar los campos que necesitamos de cada solapa del legajo del agente además de aplicar filtros de <b>ESTADO</b>, <b>MODALIDAD DE VINCULACIÓN</b>, <b>SITUACIÓN DE REVISTA</b>, <b>POR DEPENDENCIA</b>, <b>POR NIVELES</b> y <b>POR DEPENDENCIAS SUBORDINADAS</b>. <br> Al seleccionar los campos que necesitamos, el sistema descargara un archivo Excel en el que visualizaremos los datos de los campos solicitados.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU20.png" alt= "Alta de Agente" class="box-shadow" width="100%">

	            <p class="prefijo">Algunas solapas requieren primero los <b>DATOS PERSONALES</b> completos para poder acceder, los campos con un asterico en rojo son obligatorios. Al tener todos los datos completos procedemos a hacer click en <b>GUARDAR</b> para realizar el alta o la modificación. <br>
	            Se detallara a continuación las solapas que componen el ABM de agentes.
	        	</p>
	       </section>

	       <section id ="sec_datos_personales" class="justificado">
	       		<h5>DATOS PERSONALES</h5>
	       		<p>La sección <b>Datos Personales</b> es la primera solapa a completar. Los campos que tengan un asterisco en rojo son de caracter obligatorio además de completar la información podemos agregar una observación haciendo click en la barra <b>"OBSERVACIONES"</b>, tambien disponemos de un historial donde podemos ver todas las observaciones que se generaron.
	       		<br>
	       		Ya ingresada la información hacemos click en <b>GUARDAR</b> para agregar el alta o modificación.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU04.png" alt= "Datos Personales" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_situaciones_escalafonaria" class="justificado">
	       		<h5>SITUACIÓN ESCALAFONARIA</h5>
	       		<p>En esta sección solamente se va a poder seleccionar datos de los campos <b>MODALIDAD DE VINCULACIÓN</b>, <b>SITUACIÓN DE REVISTA</b> y <b>COMPENSACIÓN POR ZONA GEOGRÁFICA</b>. Como dato adicional tambien se puede agregar observaciones y visualizar la documentación del legajo. <br>
	       		Se detalla abajo la <b>Modalidad de Vinculación</b> con su respectiva <b>Situación de Revista</b>.
	       		</p>
				<li><b>SINEP</b></li>
				<ul>
					<li>Planta Permanente</li>
					<li>Ley Marco</li>
					<li>Designación Transitoria en Cargo de Planta Permanente con Función Ejecutiva</li>
					<li>Planta Permanente con Designación Transitoria</li>
				</ul>
				<li><b>Personal Embarcado</b></li>
				<ul>
					<li>CLM</li>
					<li>Planta Permanente</li>
				</ul>
				<li><b>Otra</b></li>
				<ul>
					<li>Comisión de Servicios</li>
					<li>Planta Permanente con Designación Transitoria</li>
					<li>UR</li>
				</ul>
				<li><b>Extraescalafonaria</b></li>
				<ul>
					<li>Actualmente no dispone de una situación de revista predefinida.</li>
				</ul>
				<li><b>Autoridad Superior</b></li>
				<ul>
					<li>Actualmente no dispone de una situación de revista predefinida.</li>
				</ul>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU05.png" alt= "Situación ESCALAFONARIA" class="box-shadow" width="100%">
	       		
	       </section>

	       <section id ="sec_ubicacion_estructura" class="justificado">
	       		<h5>UBICACIÓN DE ESTRUCTURA</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU06.png" alt= "Ubicacion de ESTRUCTURA" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_perfiles_puestos" class="justificado">
	       		<h5>PERFILES DE PUESTOS</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.<br> Tambien podra visualizar datos de la ultima <b>Evaluacion</b> cargada.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/perfiles_puestos.png" alt= "Alta de Perfiles de Puesto" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_formacion" class="justificado">
	       		<h5>FORMACIÓN</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato. <br> Tambien podra visualizar los <b>cursos</b> realizados.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/formacion.png" alt= "Formacion" class="box-shadow" width="100%">	       		
	       </section>

	       <section id ="sec_antiguedad" class="justificado">
	       		<h5>ANTIGÜEDAD</h5>
	       		<p>En esta solapa se puede ingresar la cantidad de <b>AÑOS</b> y <b>MESES</b> además de la <b>FECHA DE INGRESO MTR</b>, todo esto para gestionar la antigüedad.<br> Tambien podremos cargar la  <b>ANTIGUEDAD EN OTRO ORGANISMOS</b> y podremos ingresar los datos de la <b>EXPERIENCIA LABORAL</b> del empleado.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/antiguedad.png" alt= "Antiguedad" class="box-shadow" width="100%">	
	       </section>

	       <section id ="sec_administracion" class="justificado">
	       		<h5>ADMINISTRACIÓN</h5>
	       		<p>En esta solapa se ingresan los siguientes datos:</p>

	       		<ul>
	       			<li><b>CARGA HORARIA</b></li>
	       			<li><b>HORAS EXTRAS</b></li>
	       			<li><b>DATOS DE UBICACIÓN</b></li>
	       			<li><b>DATOS DE LICENCIAS ESPECIALES</b></li>
	       			<li><b>ESTADO DEL AGENTE</b></li>
	       			<li><b>AGENTE EN SITUACIÓN DE COMISIÓN</b></li>
	       		</ul>
	       		<section>
	       		<p>La <b>CARGA HORARIA</b> según la plantilla horaria que se seleccione se visualizaran automaticamente los horarios predefinidos en la Grilla Horaria, estos se pueden modificar si es necesario. <br>
	       		Además de la grilla horaria debemos seleccionar el <b>TURNO</b> del cual corresponda y tildar de manera opcional <b>FIRMA PRESENTISMO</b>.<br>
	       		Disponemos de <b>HORAS EXTRAS</b> para agregar alguna simplemente debemos tildar el botón de <b>HORAS EXTRAS</b> y hacer click a <b>NUEVO</b>, el sistema nos redireccionara a completar los campos <b>Año/Mes</b> y <b>Acto Administrativo</b>, al completarlo finalizamos haciendo click en <b>GUARDAR</b>.
	       		</section>

	       		<section>
	       		<p>En los <b>DATOS DE UBICACIÓN</b> se debe seleccionar el edificio y automaticamente completara <b>Calle/Número</b> luego se debe completar los campos <b>PISO</b> y <b>OFICINA</b> según el edificio.<br>
	       		En <b>DATOS DE LICENCIAS ESPECIALES</b> se debera ingresar el tipo de licencia y las fechas de inicio y fin en caso de tener alguna.<br>
	       		En <b>ESTADO DEL AGENTE</b>, se debe ingresar si el agente esta activo o inactivo, de ser el segundo caso tambien se debera ingresar el <b>MOTIVO DE BAJA</b> y la <b>FECHA DE BAJA</b><br>
	       		En <b>AGENTE DE SITUACIÓN DE COMISIÓN</b> se debe ingresar si tiene comisión o no, en caso de la primera opción se debe completar los campos <b>ORGANISMO DE DESTINO</b> y <b>ORGANISMO DE ORIGEN</b>.</p>
	       		</section>

	       		<p>Al tener todos los datos obligatorios completos procedemos a hacer click en <b>GUARDAR</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU10.png" alt= "Administración" class="box-shadow" width="100%">	
	       </section>

	       <section id ="sec_varios" class="justificado">
	       		<h5>VARIOS</h5>
	       		<p>En esta solapa debemos ingresar agregar los datos según sea necesario ya que estos campos se puede completar de manera opcional.</p>
	       		<ul>
	       			<li><b>POSEE CREDENCIAL DE ACCESO</b></li>
	       			<li><b>DATOS DE DISCAPACIDAD</b></li>
	       			<li><b>DATOS DE SINDICATOS</b></li>
	       			<li><b>OBRA SOCIAL Y SEGURO DE VIDA</b></li>
	       			<li><b>VETERANO DE GUERRA</b></li>
	       		</ul>
	       	<section>
	       		<p>En <b>POSEE CREDENCIAL DE ACCESO</b>, en este apartado es solo para agregar si tiene credencial de acceso o no, en caso de tenerla se puede poner la fecha de vencimiento de manera opcional.</p>
	       </section>

	       <section>
	       		<p>En <b>DATOS DE DISCAPACIDAD</b> en este punto se debe agregar si posee algún tipo de discapacidad además del CUD y la fecha del vencimiento de la misma. Tambien se puede agregar alguna observación.</p>
	       	</section>

	       	<section>
	       		<p>En <b>DATOS DE SINDICATO</b> se debe agregar el nombre del sindicato o en caso de no figurar en la lista haciendo click en <b>Otros</b> aparecera un nuevo campo donde ingresaremos el nombre del sindicato.</p>
	       	</section>

	       	<section>
	       		<p>En <b>OBRA SOCIAL Y SEGURO DE VIDA</b> se debe ingresar la obra social y un seguro de vida en caso de tenerlo.</p>
	       	</section>

	       	<section>
	       		<p>Si el agente fue <b>VETERANO DE GUERRA</b> se debera tildar la opción en caso contrario.</p>
	       	<img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU11.png" alt= "Varios" class="box-shadow" width="100%">	
	       	</section>

	       </section>

	       <section id ="sec_presupuesto" class="justificado">
	       		<h5>PRESUPUESTO</h5>
	       		<p>En esta sección solo tendremos vista de solo lectura debido que este perfil no puede modificar datos de este panel.</p>
	       	  	<img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU12.png" alt= "PRESUPUESTO" class="box-shadow" width="100%">	     
	       </section>

	       <section id ="sec_grupo_familiar" class="justificado">
	       		<h5>GRUPO FAMILIAR</h5>
	       		<p>En esta sección se pueden visualizar todo el grupo familiar del agente además de poder dar de alta, baja o modificar la persona.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU13.png" alt= "Grupo Familiar" class="box-shadow" width="100%">
	       		<p class="prefijo">Para realizar el alta solo se tiene que hacer click en <b>NUEVO</b> y el sistema nos redireccionara al ABM de alta. Solo debemos completar los datos obligatorios para que el sistema nos permita dar el alta.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU14.png" alt= "Alta de grupo familiar" class="box-shadow" width="100%">	
	       		
	       </section>

	       <section id ="sec_embargo" class="justificado">
	       		<h5>EMBARGO</h5>
	       		<p>En esta sección se visualizan los <b>EMBARGOS</b> tanto de tipo Familiar como Ejecutivo, además podemos consultar el historico de cada uno de los embargos.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU15.png" alt= "embargo" class="box-shadow" width="100%">
	       		<p class="prefijo">Tambien podemos dar de alta los embargos que necesitemos, para el alta hacemos click en NUEVO y el sistema nos redireccionara al ABM.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU16.png" alt= "alta de embargos" class="box-shadow" width="100%">
	       		<p class="prefijo">Para consultar el historico simplemente debemos hacer click en el botón <b>HISTORIAL</b> y podremos visualizar el hisotirico de los embargos.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU17.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       		<h5 id="sec_documentacion" class="prefijo">DOCUMENTACION</h5>
	       		<p>Para acceder a esta seccion deberemos selecciona el boton <b>Ver</b> dentro del legajo del agente. La opcion estara disponible en todas las solapas del legajo del empleado.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/documentacion.png" alt= "Pantalla de Documentacion" class="box-shadow" width="100%">
	       		<p class="prefijo">Para cargar un Documento deberemos seleccionar el boton <b>Nuevo</b> y seleccionar el tipo de documento y adjuntar un archivo.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/alta_documento.png" alt= "Alta de Documento" class="box-shadow" width="100%">
	       </section>

	       <section id="sec_porcuit">
	       	<h4>POR CUIT</h4>
	            <p>Al ingresar a esta sección el sistema nos ofrece un campo para ingresar el CUIT del empleado, esto sirve para buscar un empleado de manera  facil, rapida y accesible.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU18.png" alt= "Por CUIT." class="box-shadow" width="100%">
	            <p class="prefijo">Al ingresar el CUIT del agente el sistema nos redirecciona a la gestión de legajos de dicho agente donde se puede editar los datos según el rol.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU19.png" alt= "Por CUIT." class="box-shadow" width="100%">
	       </section>

	       <section id="sec_modalidad_vinculacion" class="justificado">	       	
				<h3>ADMINISTRACIÓN DE RECURSOS</h3>
				<p>En esta sección se centra en el alta, baja y modificación de datos mediante distintos tipos de ABM de todas las solapas.</p>
	       		<h4>MODALIDAD DE VINCULACIÓN</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>MODALIDAD DE VINCULACIÓN</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM01.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       <section>
	       		<h4>ALTA DE MODALIDAD VINCULACIÓN</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el nombre de la modalidad y luego hacer click en <b>GUARDAR</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM02.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>

	       </section>

	       <section id="sec_situacion_revista" class="justificado">
	       		<h4>SITUACIÓN DE REVISTAS</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>SITUACIÓN DE REVISTAS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM03.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       <section>
	       		<h4>ALTA DE SITUACIÓN DE REVISTAS</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar la modalidad de inculación y la situación de revista despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM04.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>
	   		</section>

	       <section id="sec_agrupamientos" class="justificado">
	       		<h4>AGRUPAMIENTOS</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>AGRUPAMIENTOS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM05.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>

	       <section>
	       		<h4>ALTA DE AGRUPAMIENTOS</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar la modalidad de vinculación además de la situación de revista y agrupamiento despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM06.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>

	       <section id="sec_tramos" class="justificado">
	       		<h4>TRAMOS</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>TRAMOS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM07.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>

	       <section>
	       		<h4>ALTA DE TRAMOS</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar la modalidad de vinculación además de la situación de revista y tramo despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM08.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>

	       <section id="sec_niveles" class="justificado">
	       		<h4>NIVELES</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>NIVELES</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM09.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>

	       <section>
	       		<h4>ALTA DE NIVELES</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar la modalidad de vinculación además de la situación de revista, agrupamiento y nivel despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM10.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>

	       <section id="sec_grados" class="justificado">
	            <h4>GRADOS</h4>
	            <p>Este ABM permite agregar, borrar y editar opciones en el campo <b>GRADOS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM11.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       <section>
	       		<h4>ALTA DE GRADOS</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar la modalidad de vinculación además de la situación de revista, tramo y grado despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM12.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>
	   		</section>

	       <section id="sec_funciones_ejecutivas" class="justificado">
	            <h4>FUNCIONES EJECUTIVAS</h4>
	            <p>Este ABM permite agregar, borrar y editar opciones en el campo <b>FUNCIONES EJECUTIVAS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM13.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       <section>
	       		<h4>ALTA DE FUNCIONES EJECUTIVAS</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar la modalidad de vinculación además de la situación de revista y función ejecutiva despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM14.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>
	   		</section>

	        <section id="sec_edificios" class="justificado">
	            <h4>EDIFICIOS</h4>
	            <p>Este ABM permite agregar, borrar y editar opciones en el campo <b>EDIFICIOS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM15.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       <section>
	       		<h4>ALTA DE EDIFICIOS</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el edificio además de la calle, número, provincia, localidad y código postal. <br>Despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM16.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>
	   		</section>

	        <section id="sec_ubicaciones" class="justificado">
	            <h4>UBICACIONES</h4>
	            <p>Este ABM permite agregar, borrar y editar opciones en el campo <b>UBICACIONES</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM17.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       <section>
	       		<h4>ALTA DE UBICACIONES</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el edificio además del piso y oficina despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM18.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>
	        </section>

	        <section id="sec_otros_organismos" class="justificado">
	        	<h4>OTROS ORGANISMOS</h4>
	        	<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>OTROS ORGANISMOS</b>. <br>
	        	Tambien disponemos de un buscador y mostrar en 10, 25, 50 o 100 registros.</p>
	        	<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/otros_organismos.png" alt= "Pantalla de otros organismos" class="box-shadow" width="100%">
	        	<h4 class="prefijo">ALTA DE OTROS ORGANISMOS</h4>
	        	<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el nombre del Organismo, despues seleccionar si es Publico o Privado y hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/alta_otros_organismos.png" alt= "Alta de otros organismos" class="box-shadow" width="100%">
	        </section>
	        <section id="sec_denominacion_funcion" class="justificado">
	            <h4>DENOMINACIÓN FUNCIÓN</h4>
	            <p>Este ABM permite agregar, borrar y editar opciones en el campo <b>DENOMINACIÓN DE FUNCIÓN</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM19.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       <section>
	       		<h4>ALTA DE DENOMINACIÓN DE FUNCIÓN</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el nombre de la denominación despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM20.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>
	       <section id="sec_organismos_origen_destino" class="justificado">
	       		<h4>ORGANISMOS ORIGEN/DESTINO</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>ORGANISMOS ORIGEN/DESTINO</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/organismos_origen_destino.png" alt= "Pantalla Organismos Origen Destino" class="box-shadow" width="100%">
	       		<h4 class="prefijo">ALTA DE ORGANISMO ORIGEN/DESTINO</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta.<br>Para realizar el alta debemos ingresar el nombre del Organismo y seleccionar en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/alta_origen_destino.png" alt= "Alta origen destino" class="box-shadow" width="100%">

	   		</section>

	        <section id="sec_motivos_baja" class="justificado">
	            <h4>MOTIVOS DE BAJA</h4>
	            <p>Este ABM permite agregar, borrar y editar opciones en el campo <b>MOTIVOS DE BAJA</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM21.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       <section>
	       		<h4>ALTA DE MOTIVOS DE BAJA</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el motivo de baja despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM22.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>

	   		</section>

	        <section id="sec_nivel_educativo" class="justificado">
	            <h4>NIVEL EDUCATIVO</h4>
	            <p>Este ABM permite agregar, borrar y editar opciones en el campo <b>NIVEL EDUCATIVO</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM23.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>
	       
	       <section>
	       		<h4>ALTA DE NIVEL EDUCATIVO</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el nivel educativo. <br> Despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM24.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>

	        <section id="sec_licencias_especiales" class="justificado">
	            <h4>LICENCIAS ESPECIALES</h4>
	            <p>Este ABM permite agregar, borrar y editar opciones en el campo <b>LICENCIAS ESPECIALES</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM25.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       <section>
	       		<h4>ALTA DE LICENCIAS ESPECIALES</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar la licencia especial. <br> Despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM26.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>
	        </section>

	        <section id="sec_tipo_discapacidad" class="justificado">
	            <h4>TIPO DISCAPACIDAD</h4>
	            <p>Este ABM permite agregar, borrar y editar opciones en el campo <b>TIPO DISCAPACIDAD</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM27.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       <section>
	       		<h4>ALTA DE TIPO DISCAPACIDAD</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el tipo de discapacidad y la descripción. <br> Despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM28.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>
	        </section>

	        <section id="sec_sindicatos" class="justificado">
	            <h4>SINDICATOS</h4>
	            <p>Este ABM permite agregar, borrar y editar opciones en el campo <b>SINDICATOS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM29.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>
	       
	       <section>
	       		<h4>ALTA DE SINDICATOS</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el sindicato y las siglas correspondientes. <br> Despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM30.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>

	        <section id="sec_obra_social" class="justificado">
	            <h4>OBRA SOCIAL</h4>
	            <p>Este ABM permite agregar, borrar y editar opciones en el campo <b>OBRA SOCIAL</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM31.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>
	       
	       <section>
	       		<h4>ALTA DE OBRA SOCIAL</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el código y la obra social. <br> Despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM32.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>

	        <section id="sec_seguros_vida" class="justificado">
	            <h4>SEGURO DE VIDA</h4>
	            <p>Este ABM permite agregar, borrar y editar opciones en el campo <b>SEGURO DE VIDA</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM33.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>

	       <section>
	       		<h4>ALTA DE SEGURO DE VIDA</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el seguro de vida. <br> Despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM34.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>

	        <section id="sec_plantilla_horario" class="justificado">
	            <h4>PLANTILLA HORARIA</h4>
	            <p>Este ABM permite agregar, borrar y editar opciones en el campo <b>PLANTILLA HORARIA</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM35.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>

	       <section>
	       		<h4>ALTA DE PLANTILLA HORARIA</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el nombre además del rango de dias y el rango de horario. <br> Despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/ABM/SIGARHUABM36.png" alt= "Historico de embargos." class="box-shadow" width="100%">
	       </section>
	       <section>
	       		<h4 id="sec_auditoria">AUDITORIA</h4>
	       		<p>En este apartado podremos consultar los datos que sean necesarios de cualquier agente en especifico.<br>Todos los cambios realizados dentro del sistema a nivel de datos se veran reflejados en el apartado de <b>Auditoria</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/Administrador/auditoria.png" alt= "Pantalla de Auditoria" class="box-shadow" width="100%">
	       		<p class="prefijo">Deberemos seleccionar el icono de la columna <b>Acciones</b> para poder visualizar los datos y la accion realizada para cada empleado.</p>
	       </section>

	       <section id="sec_sesion" class="justificado">
	            <h4>CERRAR SESIÓN</h4>
	            <p>Para salir del sistema el usuario debe <b>CERRAR SESIÓN</b> en el botón que se encuentra en la esquina superior derecha.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU99.png" alt= "Cerrar Sesion." class="box-shadow" style="display: block; margin:auto;">
	        </section>
	        <p style="float: right;">Manual de Uso Versión v2.0.0</p>
	        </div>
	</div>