{{{BOTON_VOLVER}}}
<a href="{{{VOLVER}}}" id="return-to-top" class="return-to-back" style="display: block;" title="Volver"><i class="fa fa-arrow-left" title="Volver"></i></a>
{{{/BOTON_VOLVER}}}
<a href="#" id="return-to-top" class="return-to-top" style="display: block;" title="Subir"><i class="fa fa-arrow-up" title="Subir"></i></a>
	<div class="fondo">
	    <div class="container main bar">
	        <h2>Índice</h2> 
				<li><a href="#sec_introduccion"><b>INTRODUCCIÓN</b></a></li>
				<li><b>GESTIÓN</b></a></li>
					<ul>
						<li><a href="#sec_poragt"><b>POR AGENTES</b></a></li>
							<ul>
								<li><a href="#sec_datos_personales">DATOS PERSONALES</a></li>
								<li><a href="#sec_situaciones_escalafonaria">SITUACIÓN ESCALAFONARIA</a></li>
								<li><a href="#sec_ubicacion_estructura">UBICACIÓN DE ESTRUCTURA</a></li>
								<li><a href="#sec_perfiles_puestos">PEFILES DE PUESTOS</a></li>
								<li><a href="#sec_formacion">FORMACIÓN</a></li>
								<li><a href="#sec_antiguedad">ANTIGÜEDAD</a></li>
								<li><a href="#sec_administracion">ADMINISTRACIÓN</a></li>
								<li><a href="#sec_varios">VARIOS</a></li>
								<li><a href="#sec_presupuesto">PRESUPUESTO</a></li>
								<li><a href="#sec_anticorrupcion">ANTICORRUPCIÓN</a></li>
								<li><a href="#sec_grupo_familiar">GRUPO FAMILIAR</a></li>
								<li><a href="#sec_embargo">EMBARGO</a></li>
							</ul>
						<li><a href="#sec_porcuit"><b>POR CUIT</b></a></li>
						<li><a href="#sec_creditos_iniciales"><b>CREDITOS INICIALES</b></a></li>
					</ul>

				<li><b>ABMS</b></li>
				<ul>
						<li><a href="#sec_dependencias">DEPENDENCIAS</a></li>
						<li><a href="#sec_dependencias_i">DEPENDENCIAS INFORMALES</a></li>
						<li><a href="#sec_creditos_para_promocion">CREDITOS PARA PROMOCION</a></li>
						<li><a href="#sec_responsable_de_contratos">RESPONSABLE DE CONTRATOS</a></li>
						<li><a href="#sec_denominacion_de_funcion">DENOMINACIÓN DE FUNCIÓN</a></li>
						<li><a href="#sec_organismos_origen">ORGANISMO ORIGEN/DESTINO</a></li>
				</ul>
				<li><b>INFORMES</b></li>
				<ul>
					<li><a href="#sec_historico_anticorrupcion">HISTORICO ANTICORRUPCION</a></li>
					<li><a href="#sec_alertas_anticorrupcion">ALERTAS ANTICORRUPCIÓN</a></li>
					<li><a href="#sec_designacion_transitoria">DESIGNACION TRANSITORIA</a></li>
					<li><a href="#sec_auditoria">AUDITORIA</a></li>
					
				</ul>

				</ul>
					<li><a href="#sec_sesion"><b>CERRAR SESIÓN</b></a></li>
		<hr>
	    </div>

	    <!-- // CONTENIDO // -->
	<div class="container main">
	        <section id="sec_introduccion" class="justificado">
	            <h4>INTRODUCCIÓN</h4>
	                <p>La <strong>Dirección de Informatica y Tecnologia del Ministerio de Transporte de la Nación</strong> ha diseñado, desarrollado e implementado un <strong>sistema a pedido de la Dirección
					General de Recursos Humanos que permite Administrar todos los datos que definen al Empleado, Segmentando la Administración y actualización de los mismos</strong>, a nivel de datos según responsabilidades de cada una de las direcciones que administran los mismos (Administración, Desarrollo y Control de Gestión, Planificación y Convenios).
					</p>
			</section>

			<section class="justificado">
	            <h4>ACCESO AL SISTEMA</h4>
	            <p> Para acceder al Sistema de Gestión y Administración de RRHH, el usuario deberá ingresar a la siguiente dirección:
	            <a href="{{{URL_SITIO}}}" target="_blank">{{{SITIO}}}</a> y despues ingresar al modulo <b>SIGARHU</b>.</p>
	            <p>Para ingresar al sistema, el usuario deberá usar su usuario y contraseña de dominio, una ves ingresado los datos podra navegar segun las credenciales que posea.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Inicio.png" alt= "Login" class="box-shadow" width="100%">
	        </section>

	        <section id ="sec_poragt" class="justificado">
	        	<h3>LEGAJOS</h3>
	            <h4>POR AGENTE</h4>
	            <p>Al acceder al sistema automaticamente nos redirecciona al listado de agentes en donde figuran todos los agentes que hay actualmente hasta la fecha además podemos filtrar las busquedas por los campos <strong>DEPENDENCIAS</strong>, <strong>ESTADO</strong>, <strong>MODALIDAD DE VINCULACIÓN</strong> o <strong>SITUACIÓN DE REVISTA</strong>. <br>
	            Tambien se pueden visualizar por la cantidad de registros de <i>10</i>, <i>25</i>, <i>50</i> o hasta <i>100</i> además el sistema incorpora un buscador. <br>Ademas de poder dar de alta agentes seleccionando el boton <b>Nuevo</b>.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/listado_agentes.png" alt= "Por Agente" class="box-shadow" width="100%">
	            <p class="prefijo"> Podemos observar que tambien figura el botón <b>EDITAR</b>. <br>
	            El botón <strong>EDITAR</strong> accedemos haciendo click en el botón que se encuentra en la columna <b>"Acciones"</b> y podemos modificar los datos de dicho agente.<br>
	            Al seleccionar <strong>EDITAR</strong> se pueden modificar las siguientes solapas, ya que el resto de solapas solo se puede visualizar la información.</p>
	            <ul>
	            	<li><b>SITUACIÓN ESCALAFONARIA</b></li>
	            	<li><b>UBICACIÓN DE LA ESCRITURA</b></li>
	            	<li><b>PERFILES DE PUESTOS</b></li>
	            	<li><b>ANTICORRUPCIÓN</b></li>
	            </ul>
	            <p>Como dato adicional tambien se puede agregar observaciones y agregar, editar y visualizar la documentación del legajo.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control02.png" alt= "Alta de Agente" class="box-shadow" width="100%">

	            <p class="prefijo">Al ingresar al exportador de datos, el sistema nos ofrece exportar los campos que necesitamos de cada solapa del legajo del agente además de aplicar filtros de <b>ESTADO</b>, <b>MODALIDAD DE VINCULACIÓN</b>, <b>SITUACIÓN DE REVISTA</b>, <b>POR DEPENDENCIA</b>, <b>POR NIVELES</b> y <b>POR DEPENDENCIAS SUBORDINADAS</b>. <br> Al seleccionar los campos que necesitamos, el sistema descargara un archivo Excel en el que visualizaremos los datos de los campos solicitados.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Convenios/Convenios03.png" alt= "Alta de Agente" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_datos_personales" class="justificado">
	       		<h5>DATOS PERSONALES</h5>
	       		<p>La sección <b>Datos Personales</b> es la primera de todo el ABM de agentes. Aqui se visualizaran los datos del agente y el usuario de este rol solo puede visualizar la información y no editarla.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control02.png" alt= "Datos Personales" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_situaciones_escalafonaria" class="justificado">
	       		<h5>SITUACIÓN ESCALAFONARIA</h5>
	       		<p>En esta sección solamente se va a poder modificar la <b>FUNCIÓN EJECUTIVA</b> para eso hacemos click en <b>Modificar Escalafón Actual</b> y el sistema nos permitira modificar dicho campo. <br> Tambien podremos ingresar la <b>Modalidad de Vinculacion</b> y <b>Situacion de Revista</b> del agente.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/situacion_escalafonaria.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       	</section>

	       <section id ="sec_ubicacion_estructura" class="justificado">
	       		<h5>UBICACIÓN DE ESTRUCTURA</h5>
	       		<p>En esta sección se puede modificar los campos <b>NIVEL DE ORGANIGRAMA</b>, <b>DEPENDENCIAS</b> y <b>DEPENDENCIAS INFORMAL</b>. La dependencia seleccionada depende del nivel de organigrama previamente seleccionado.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control06.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_perfiles_puestos" class="justificado">
	       		<h5>PERFILES DE PUESTOS</h5>
	       		<p>En esta sección se pueden modificar los siguientes campos.</p>
	       		<ul>
	       			<li><b>PUESTO</b></li>
	       				<ul>
			       			<li>Denominación de la Función</li>
			       			<li>Denominación del Puesto</li>
			       			<li>Objetivo General</li>
			       			<li>Objetivo Especificos</li>
			       			<li>Estandares Cuanti/Cualitativos</li>
			       		</ul>
			       	<li><b>ACTIVIDADES/TAREAS</b></li>
			       		<ul>
			       			<li>Actividades/Tareas</li>
			       		</ul>
			       	<li><b>RESULTADOS PARCIALES/FINALES</b></li>
			       		<ul>
			       			<li>Fecha de Obtención Resultado</li>
			       			<li>Resultados Parciales/Finales</li>
			       		</ul>
			       	<li>EVALUACIONES</li>
	       		</ul>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/perfiles_puesto.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       		<p class="prefijo">Dentro del apartado de <b>Evaluaciones</b> podremos cargar las evaluaciones del empleado. Tendremos dinponibles tres botones
	       			<li>Ver Comprobante</li>
	       			<li>Nueva</li>
	       			<li>Historial</li>	       		
	       		</p>
	       		<p class="prefijo">Al seleciconar el boton <b>Ver Comprobante</b> podremos visualizar el comprobante de evaluacion de agente una vez este cargado en el sistema. <br>Al selecciona el boton <b>Nueva</b> podremos cargar los datos de la evaluacion del empleado y en el apartado de <b>Historial</b> podremos visualizar un listado con todos los datos de todas las evaluaciones del empleado.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/evaluaciones.png" alt= "Alta de evaluacion" class="box-shadow" width="100%">
	       		<p class="prefijo">Luego visualizar el <b>Historial</b> de las mismas.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/historial_evaluaciones.png" alt= "Historial de Evaluaciones" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_formacion" class="justificado">
	       		<h5>FORMACIÓN</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/formacion.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       </section>

	       <section id ="sec_antiguedad" class="justificado">
	       		<h5>ANTIGÜEDAD</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/antiguedad.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">	
	       </section>

	       <section id ="sec_administracion" class="justificado">
	       		<h5>ADMINISTRACIÓN</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control10.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">	
	       </section>

	       <section id ="sec_varios" class="justificado">
	       		<h5>VARIOS</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control11.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">	
	       	</section>

	       <section id ="sec_presupuesto" class="justificado">
	       		<h5>PRESUPUESTO</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control12.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">	
	       	</section>

	       	<section id ="sec_anticorrupcion" class="justificado">
	       		<h5>ANTICORRUPCIÓN</h5>
	       		<p>En esta sección se puede ingresar datos en los campos <b>FECHA DE DESIGNACIÓN</b> y <b>FECHA DE PUBLICACIÓN DE DESIGNACIÓN</b> siempre y cuando se tilde la opción <b>Obligado a Presentar Declaración Jurada</b> esto habilitara los campos editables en la pestaña de Anticorrupción.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/anticorrupcion.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       		<p class="prefijo">Deberemos seleccionar el boton <b>Nueva Presentacion</b> para poder ingresar los datos de la declaracion jurada.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/presentaciones.png" alt= "Presentacion de Declaracion Jurada" class="box-shadow" width="100%">
	       		<p class="prefijo">Luego de cargar la Declaracion Jurada podremos ver el <b>Historial</b> de la misma.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/historial_declaraciones.png" alt= "Historial de Declaraciones Juradas" class="box-shadow" width="100%">	
	       	</section>

	       <section id ="sec_grupo_familiar" class="justificado">
	       		<h5>GRUPO FAMILIAR</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control14.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">	
	       </section>

	       <section id ="sec_embargo" class="justificado">
	       		<h5>EMBARGO</h5>
	       		<p>Actualmente este perfil solo puede visualizar esta solapa y no puede modificar ningun dato pero puede visualizar el historial haciendo click en el botón <b>HISTORIAL</b> que se encuentra en la parte inferior derecha.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control15.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">

	       		<p class="prefijo">Al consultarlo se puede visualizar todo el historial de embargo que incluye: <b>TIPO DE EMBARGO</b>, <b>AUTOS</b>, <b>FECHA DE ALTA</b>, <b>FECHA DE CANCELACIÓN</b> y <b>MONTO</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control16.png" alt= "Situación Escalafonaria" class="box-shadow" width="100%">
	       </section>

	       <section id="sec_porcuit">
	       <h4>POR CUIT</h4>
	            <p>Al ingresar a esta sección el sistema nos ofrece un campo para ingresar el CUIT del empleado, esto sirve para buscar un empleado de manera  facil, rapida y accesible.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control03.png" alt= "Por CUIT." class="box-shadow" width="100%">
	            <p class="prefijo">Al ingresar el CUIT del agente el sistema nos redirecciona a la gestión de legajos de dicho agente donde se puede editar los datos según el rol.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control04.png" alt= "Por CUIT." class="box-shadow" width="100%">
	       </section>
	       <section>
	       	<h4 id="sec_creditos_iniciales">CREDITOS INICIALES</h4>
	       	<p>Dentro de este apartado podremos cargar los <b>Creditos Iniciales</b> para el empleado.</p>
	       	<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/creditos_iniciales.png" alt= "Listado de Creditos Iniciales" class="box-shadow" width="100%">
	       	<p class="prefijo">Seleccionando el boton <b>Nuevo</b> tendremos acceso a la pantalla de alta de los datos de creditos iniciales.</p>
	       	<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/alta_creditos_iniciales.png" alt= "Alta de Creditos Iniciales" class="box-shadow" width="100%">
	       </section>

	       <section id="sec_dependencias" class="justificado">	       	
				<h3>ADMINISTRACIÓN DE RECURSOS</h3>
				<p>En esta sección se centra en el alta, baja y modificación de datos mediante distintos tipos de ABM de todas las solapas.</p>
	       		<h4>DEPENDENCIAS</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>DEPENDENCIAS</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control17.png" alt= "Por CUIT." class="box-shadow" width="100%">
	       	<section>
	       		<h4>ALTA DE DEPENDENCIAS</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar la <b>DEPENDENCIAS</b>, <b>DEPENDENCIA PADRE</b>, <b>NIVEL</b> y <b>FECHA DESDE</b>. Luego hacer click en <b>GUARDAR</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control18.png" alt= "Por CUIT." class="box-shadow" width="100%">
	       </section>
	       <section>

	       	<section id="sec_dependencias_i" class="justificado">
	       		<h4>DEPENDENCIAS INFORMALES</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>DEPENDENCIAS INFORMALES</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control19.png" alt= "Por CUIT." class="box-shadow" width="100%">
	       		<section>
	       			<h4 id="sec_creditos_para_promocion">CREDITOS PARA PROMOCION</h4>
	       			<p>Este ABM permite dar de alta los creditos con su correspondiente <b>Tramo</b> y <b>Nivel</b>.</p>
	       			<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/creditos_para_promocion.png" alt= "Pantalla de Creditos Para Promocion" class="box-shadow" width="100%">
	       			<p class="prefijo">Para dar de alta los creditos deberemos seleccionar el boton <b>Nuevo</b> y completar todos los campos obligatorios.</p>
	       			<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/alta_creditos_promocion.png" alt= "Alta de Creditos Para Promocion" class="box-shadow" width="100%">
	       		</section>
	       		<section>
	       			<h4 id="sec_organismos_origen">ORGANISMOS ORIGEN/DESTINO</h4>
	       			<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>ORGANISMOS ORIGEN/DESTINO</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/organismos_origen_destino.png" alt= "Alta de Creditos Para Promocion" class="box-shadow" width="100%">
	       		<h4 class="prefijo">ALTA DE ORGANISMO ORIGEN/DESTINO</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta.<br>Para realizar el alta debemos ingresar el nombre del Organismo y seleccionar en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/alta_organismo.png" alt= "Alta de Creditos Para Promocion" class="box-shadow" width="100%">
	       		</section>
	       <section>
	       		<h4>ALTA DE DEPENDENCIAS INFORMALES</h4>
	       		<p>Para realizar un alta primero se debe seleccionar la <b>DEPENDENCIA PADRE</b>, ya seleccionado se habilitara el botón <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		En el alta debemos ingresar la <b>DEPENDENCIA INFORMAL</b>, <b>DEPENDENCIA PADRE</b> y <b>FECHA DESDE</b>. Despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control20.png" alt= "Por CUIT." class="box-shadow" width="100%">
	       </section>
	   		</section>

	       <section id="sec_responsable_de_contratos" class="justificado">
	       	<h4>RESPONSABLES DE CONTRATOS</h4>
	       		<p>Automaticamente al ingresar a esta sección el sistema nos redireccionara al alta de <b>RESPONSABLES DE CONTRATOS</b>, para completarlo se debe ingresar la <b>DEPENDENCIAS</b>, <b>CONTRATANTES</b> y <b>FIRMANTES</b>. Despues simplemente hacemos click en <b>GUARDAR</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control21.png" alt= "Por CUIT." class="box-shadow" width="100%">
	        </section>

	        <section id="sec_denominacion_de_funcion" class="justificado">
	        	<h4>DENOMINACIÓN DE FUNCIÓN</h4>
	       		<p>Este ABM permite agregar, borrar y editar opciones en el campo <b>DENOMINACIÓN DE FUNCIÓN</b>. <br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control22.png" alt= "Por CUIT." class="box-shadow" width="100%">
	       	<section>
	       		<h4>ALTA DE DENOMINACIÓN DE FUNCIÓN</h4>
	       		<p>Para realizar un alta solamente se debe hacer click en <b>NUEVO</b> y el sistema nos redireccionara para realizar el alta. <br>
	       		Para realizar el alta debemos ingresar el <b>NOMBRE DE LA DENOMINACIÓN</b> y despues hacer click en <b>GUARDAR</b> para finalizar.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control23.png" alt= "Por CUIT." class="box-shadow" width="100%">
	       	</section>
	        </section>

	        <section id="sec_informes" class="justificado">
	        	<h3>INFORMES</h3>
				<p>En esta sección se centra en la anticorrupción de los agentes. Se detalla a continuación.</p>
				<h4 id="sec_historico_anticorrupcion">HISTORICO ANTICORRUPCION</h4>
				<p>En este apartado podremos ver todo el historico de datos de <b>Anticorrupcion</b></p>
				<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/historico_anticorrupcion.png" alt= "Por CUIT." class="box-shadow" width="100%">
				<p class="prefijo">Podremos realizar una exportacion de los datos mediante <b>Excel</b> y tambien generar un informe en formato <b>PDF</b>.</p>
				<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/exportacion_anticorrupcion.png" alt= "Por CUIT." class="box-shadow" width="100%">
	       		<h4 id="sec_alertas_anticorrupcion" class="prefijo">ALERTAS ANTICORRUPCION</h4>
	       		<p>Este ABM permite visualizar y editar opciones en el campo <b>ANTICORRUPCIÓN</b> de cada unos de los agentes activos en el sistema. La situación del agente depende del color del estado.<br>
	       		Tambien disponemos de un buscador y mostrar entre 10, 25, 50 o 100 registros.
	       		</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control24.png" alt= "Por CUIT." class="box-shadow" width="100%">
	       		<p class="prefijo">Al hacer click en el botón de visualizar el sistema nos redireccionara a la pestaña Anticorrupción del agente seleccionado.<br>
	       		En esta pestaña podemos editar la información de los campos <b>FECHAS de DESIGNACIÓN</b> y <b>FECHA PUBLICACIÓN DESIGNACIÓN</b> como tambien tildar o destildar <b>OBLIGADO A PRESENTAR DECLARACIÓN JURADA.</b></p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/Control25.png" alt= "Por CUIT." class="box-shadow" width="100%">
	       		<h4 id="sec_designacion_transitoria" class="prefijo">DESIGNACION TRANSITORIA</h4>
	       		<p>En este apartado podremos visualizar los informes de los empleados con <b>Designacion Transitoria</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/informe_designacion.png" alt= "Pantalla de Designacion Transitoria" class="box-shadow" width="100%">
	       		<p class="prefijo">Podremos agregar una <b>Prorroga</b> y visualizar el historial de las mismas que se le asignen al empleado con dicha Designacion.</p>
	       		<h6 class="prefijo">PRORROGA</h6>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/prorroga.png" alt= "Pantalla de Prorroga" class="box-shadow" width="100%">
	       		<h6 class="prefijo">HISTORIAL DE DESIGNACIONES</h6>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/historial_designaciones.png" alt= "Historial de Designaciones" class="box-shadow" width="100%">
	       		<h4 id="sec_auditoria" class="prefijo">AUDITORIA</h4>
	       		<p>En este apartado podremos consultar los datos que sean necesarios de cualquier agente en especifico.<br>Todos los cambios realizados dentro del sistema a nivel de datos se veran reflejados en el apartado de <b>Auditoria</b>.</p>
	       		<img src="{{{IMAGEN}}}/img/instructivo/AdministradorC/auditoria.png" alt= "Pantalla de auditoria" class="box-shadow" width="100%">
	       		<p class="prefijo">Deberemos seleccionar el icono de la columna <b>Acciones</b> para poder visualizar los datos y la accion realizada para cada empleado.</p>
	       		
	        </section>	        
	        
	        <section id="sec_sesion" class="justificado">
	            <h4>CERRAR SESIÓN</h4>
	            <p>Para salir del sistema el usuario debe <b>CERRAR SESIÓN</b> en el botón que se encuentra en la esquina superior derecha.</p>
	            <img src="{{{IMAGEN}}}/img/instructivo/Administrador/SIGARHU99.png" alt= "Cerrar Sesion." class="box-shadow" style="display: block; margin:auto;">
	        </section>
	        <p style="float: right;">Manual de Uso Versión v2.0.0</p>
	        </div>
	</div>