<div class="row titulo">
	<div class="col-md-3">
		&nbsp;
	</div>
	<div class="col-md-4 columna" >
		Tipos Documentos
	</div>
	<div class="col-md-1 columna text-center">
		Cargado
	</div>
	<div class="col-md-1 columna text-center" >
		Acción
	</div>
</div>
{{{TIPO_DOC}}}
<div class="row">
	<div class="col-md-3">
		&nbsp;
	</div>
	<div class="col-md-4 coleft"  style="{{{BOR_BOTT}}}">
		{{{NOMBRE}}}
	</div>
	<div class="col-md-1 text-center" style="{{{BOR_BOTT}}}">
		{{{CHECK}}}
	</div>
	<div class="col-md-1 colright" style="{{{BOR_BOTT}}}">
		{{{VER}}}
	</div>
</div>
{{{/TIPO_DOC}}}