<form id="{{{FORM}}}" method='POST' action="">
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3">
      <label class="control-label" for="tipo_titulo">Tipo Título<span class="text-danger"> *</span></label>
    <select class="form-control" id="id_tipo_titulo" name="id_tipo_titulo">
    <option value=""> Seleccione </option>
     {{{TIPO_TITULO}}}
       <option value="{{{VALUE}}}" {{{SELECTED}}}{{{BORRADO}}}>{{{TEXT}}}</option>
     {{{/TIPO_TITULO}}}
      </select>
  </div>
  <div class="col-md-1">
    <div class="form-group">
      <label class="control-label" for="abrev">Abreviatura</label>
      <input type="text" class="form-control" id="abreviatura" name="abreviatura" value="{{{ABREV}}}">
    </div>
  </div>  
</div>	
<br>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="control-label" for="nombre">Nombre del Título <span class="required">*</span></label>
      <input type="text" class="form-control" id="nombre" name="nombre" value="{{{NOMBRE}}}">
    </div>
  </div>
</div>
<br>
 <div class="row">
 	<div class="col-md-3"></div>
    <div class="col-md-4 text-right">
      <button type="submit" class="btn btn-primary" data-placement="left" name="boton_titulo" value="{{{OPERACION}}}" id='boton_titulo' title="Guardar">GUARDAR</button>
      <a href="{{{CANCELAR}}}" class="btn btn-default" >CANCELAR</a>
    </div>
 </div>
</form>