<div class="row"  id="url-base" data_url='{{{URL_BASE}}}'>
</div>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-1 alert alert-info text-center">
        <i class="fa fa-info"></i> El calculo para la simulacion de promoción de grado se ejecuta automaticamente todos los dias, pero usted puede forzar la ejecucion
    </div>
    <div class="col-md-3 text-right">
        <a class="btn btn-primary" href="{{{LINK}}}">Ejecutar Simulador</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{{DATOS_TABLA}}}
    </div>
</div>