<form id="{{{FORM}}}" method='POST' action="{{{LINK}}}" class="form-horizontal">
    <div class="row">


        <div class="form-group">
            <label class="col-md-2 control-label">Año: <span class="text-danger">*</span> </label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="anio" value="" name="anio" maxlength="4">
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" data-placement="right" vertical-align="bottom"
                    name="boton_consultar" value="{{{OPERACION}}}" id='boton_titulo' title="Guardar">BUSCAR</button>
            </div>
        </div>
    </div>
    <br>
</form>
{{{CONTENT}}}