<form id="{{{FORM}}}" method='POST' action="">
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="control-label" for="tipo_disc"> Tipo de Discapacidad<span class="text-danger"> *</span> </label>
      <input type="text" class="form-control" id="nombre" name="nombre" value="{{{NOMBRE}}}">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label" for="desc">Descripción</label>
      <textarea type="text" rows="3" class="form-control" id="descripcion" name="descripcion"> {{{DESCRIPCION}}}</textarea>
    </div>
  </div>
</div>
<br>
 <div class="row">
 	<div class="col-md-3"></div>
    <div class="col-md-6 text-right">
      <button type="submit" class="btn btn-primary" data-placement="left" name="boton_tipo_discapacidad" value="{{{OPERACION}}}" id='boton_titulo' title="Guardar">GUARDAR</button>
      <a href="{{{CANCELAR}}}" class="btn btn-default" >CANCELAR</a>
    </div>
 </div>
</form>