<form id="{{{FORM}}}" method='POST' action="">
<div class="row">
<div class="col-md-4"></div>
  <div class="col-md-4">
      <label class="control-label" for="subfamilia">Subfamilia<span class="text-danger"> *</span></label>
    <select class="form-control" id="subfamilia" name="subfamilia">
    <option value=""> Seleccione </option>
     {{{SUBFAMILIA}}}
       <option value="{{{VALUE}}}" {{{SELECTED}}}{{{BORRADO}}}>{{{TEXT}}}</option>
     {{{/SUBFAMILIA}}}
      </select>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="control-label" for="tipo_disc">Puesto<span class="text-danger"> *</span> </label>
      <input type="text" class="form-control" id="nombre" name="nombre" value="{{{NOMBRE}}}">
    </div>
  </div>
</div>
<br>
 <div class="row">
 	<div class="col-md-4"></div>
    <div class="col-md-4 text-right">
      <button type="submit" class="btn btn-primary" data-placement="left" name="boton_puesto" value="{{{OPERACION}}}" id='boton_puesto' title="Guardar">GUARDAR</button>
      <a href="{{{CANCELAR}}}" class="btn btn-default" >CANCELAR</a>
    </div>
 </div>
</form>