<html lang="es">
	<head >
		<meta charset="utf-8">
		<title></title>
	</head>

	<body>
		<p>Estimado {{{NOMBRE_APELLIDO}}}</p>
		<p>El informe histórico de anticorrupción que solicitó esta disponibles para descargar desde <a href="{{{LINK_ARCHIVO}}}">aquí</a></p>

		<br />
		<p>Cualquier consulta comuníquese con la Dirección de Administración de Recursos Humanos.</p>
		<img src="https://www.transporte.gob.ar/_img/logo_is_mediano_blanco.png">
		<p style="text-align: center;"><i>Este email fue enviado automáticamente no responda sobre el mismo.</i><p>
	</body>
</html>