<form id="{{{FORM}}}" method='POST' action="" autocomplete="off">
  <div class="row"  id="url-base" data_url='{{{URL_BASE}}}'>
</div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 form-group">
      <label class="control-label">Proyecto<span class="required"> *</span></label>
      <select class="form-control" id="id_proyecto" name="id_proyecto">
        <option value=""> Seleccione </option>
         {{{PROYECTOS}}}
            <option value="{{{VALUE}}}" {{{SELECTED}}}{{{BORRADO}}}>{{{TEXT}}}</option>
         {{{/PROYECTOS}}}
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1">
      <div class="form-group">
        <label class="control-label" for="nombre">Código <span class="required">*</span></label>
        <input type="text" class="form-control" id="codigo" name="codigo" value="{{{CODIGO}}}">
      </div>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label class="control-label" for="nombre">Obra <span class="required">*</span></label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{{NOMBRE}}}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-primary" data-placement="left" name="boton_obra" value="{{{OPERACION}}}" id='boton_obra' title="Guardar">{{{BOTON}}}</button>
      <a href="{{{CANCELAR}}}" class="btn btn-default" >CANCELAR</a>
    </div>
  </div>
</form>