<form id="{{{FORM}}}" method='POST' action="" autocomplete="off">
  <div class="row"  id="url-base" data_url='{{{URL_BASE}}}'>
</div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7 form-group">
      <label class="control-label">Programa<span class="required"> *</span></label>
      <select class="form-control" id="id_programa" name="id_programa">
        <option value=""> Seleccione </option>
         {{{PROGRAMAS}}}
            <option value="{{{VALUE}}}" {{{SELECTED}}}{{{BORRADO}}}>{{{TEXT}}}</option>
         {{{/PROGRAMAS}}}
      </select>
    </div>
 </div>    
 <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7 form-group">
      <label class="control-label">Subprograma</label>
      <select class="form-control" id="id_subprograma" name="id_subprograma">
         {{{SUBPROGRAMAS}}}
            <option value="{{{VALUE}}}" {{{SELECTED}}}{{{BORRADO}}}>{{{TEXT}}}</option>
         {{{/SUBPROGRAMAS}}}
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1">
      <div class="form-group">
        <label class="control-label" for="nombre">Código <span class="required">*</span></label>
        <input type="text" class="form-control" id="codigo" name="codigo" value="{{{CODIGO}}}">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label" for="nombre">Proyecto <span class="required">*</span></label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{{NOMBRE}}}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7 text-right">
      <button type="submit" class="btn btn-primary" data-placement="left" name="boton_proyecto" value="{{{OPERACION}}}" id='boton_proyecto' title="Guardar">{{{BOTON}}}</button>
      <a href="{{{CANCELAR}}}" class="btn btn-default" >CANCELAR</a>
    </div>
  </div>
</form>