<form id="{{{FORM}}}" method='POST' action="" autocomplete="off">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="control-label" for="codigo">Código <span class="required">*</span></label>
        <input type="text" class="form-control" id="codigo" name="codigo" value="{{{CODIGO}}}">
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label class="control-label" for="nombre">Saf <span class="required">*</span></label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{{NOMBRE}}}">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8 text-right">
      <button type="submit" class="btn btn-primary" data-placement="left" name="boton_saf" value="{{{OPERACION}}}" id='boton_saf' title="Guardar">{{{BOTON}}}</button>
      <a href="{{{CANCELAR}}}" class="btn btn-default" >CANCELAR</a>
    </div>
  </div>
</form>